<div class="piece-unit issue-<%= piece.issue_number %> c-issue">
  <p class="piece-unit-author"><%= piece.author.name %></p>
  <h3 class="piece-unit-title"><%= link_to_piece piece %></h3>
  <p class="piece-unit-synopsis"><%= piece.synopsis %></p>
  <p class="piece-unit-metadata">
    <% if piece.issue_id.present? %>
      <span class="piece-unit-silo">In <%= link_to "Issue #{piece.issue.number}", issue_path(piece.issue.number) %></span>
    <% end %>
    <%= topic_links_for piece %>
  </p>
</div>