<div class="piece-unit issue-<%= piece.issue_number %> c-issue">
  <% if piece.article? %>
  <figure class="piece-unit-illo">
    <%=
    tag "img",
        sizes: "(min-width: 500px) 8em, 1px",
        srcset: srcset(base: illo_basepath(piece), format: "jpg", sizes: %w(300 500 750 1000 1500), blank: true)
    %>
  </figure>
  <% end %>
  <div class="piece-unit-text">
    <p class="piece-unit-author"><%= piece.author.name %></p>
    <h3 class="piece-unit-title">
      <%= link_to piece.title, piece_path(piece.issue_number, piece.author_slug, piece.class.name.underscore) %>
    </h3>
    <p class="piece-unit-synopsis"><%= piece.synopsis %></p>
    <p class="piece-unit-metadata">
      On <%= link_to "Issue #{piece.issue_number}", issue_path(piece.issue_number), class: "c-issue" %>
    </p>
  </div>
</div>