<%- @breadcrumb = true -%>
<%- title "Account" -%>
<%- title "Update Information" -%>
<section class="l-p">
  <%= form_for current_user, url: account_path, html: { class: "form l-single-l", novalidate: :novalidate, method: :patch } do |a| %>
  <div class="l-row l-cols-halves">
    <dl class="field">
      <dt><%= a.label :first_name %></dt>
      <dd><%= a.text_field :first_name, required: true, class: 'is-long' %></dd>
    </dl>

    <dl class="field">
      <dt><%= a.label :last_name %></dt>
      <dd><%= a.text_field :last_name, class: 'is-long', class: 'is-long' %></dd>
    </dl>
  </div>

  <dl class="field">
    <dt><%= a.label :email %></dt>
    <dd>
      <%= a.text_field :email, required: true, disabled: true, class: 'is-long' %>
      <small class="label-note">We’re sorry, but email update isn’t possible yet.</small>
    </dd>
  </dl>

  <div class="form-actions">
    <p>
      <button type="submit" class="btn btn-large" data-disable-with="Updating...">Update Information</button> or <%= link_to "go back to your Account", account_path %>
    </p>
  </div>
  <% end %>
</section>
