<% title "Account" %>
<section class="styled l-p">
  <%- if current_user.is_admin? -%>
  <p><strong>You’re an administrator.</strong> <%= link_to "Go to Admin →", admin_root_path %></p>
  <hr />
  <%- end -%>
  <h3>Personal Information</h3>
  <dl>
    <dt>Name</dt>
    <dd><%= current_user.name %></dd>
    <dt>Email</dt>
    <dd><%= current_user.email %></dd>
  </dl>
  <h3>Current Subscription</h3>
  <dl>
    <dt>Type</dt>
    <dd>Print + Ebook Subscription</dd>
    <dt>Issues</dt>
    <dd><%= link_to "Issue 3", issue_path(issue: 3) %> <span class="c-success" title="Released">✔</span></dd>
    <dd><%= link_to "Issue 4", issue_path(issue: 4) %> <span class="c-success" title="Released">✔</span></dd>
    <dd>Issue 5</dd>
  </dl>
  <h3>History</h3>
  <ul class="plain">
    <li><strong>2014-10-13:</strong> Print + Ebook Subscription (Issues 3, 4, 5)</li>
    <li><strong>2012-07-23:</strong> <del>Print + Ebook Subscription (Issues 2, 3, 4)</del> <strong class="c-error">CANCELLED</strong></li>
  </ul>
  <hr />
  <h2>Shipping Address</h2>
  <blockquote><p>
    Betahaus<br/>
    Prinzensinnenstr. 20<br/>
    Berlin<br/>
    10969<br/>
    Germany<br/>
  </p></blockquote>
  <p><strong class="highlight">Address out of date?</strong> <%= link_to "Update this address.", account_addresses_path, class: "" %></p>
  <hr />
  <h2>Downloads</h2>
  <p>All files are DRM-free. Got questions? <%= link_to "Read our FAQ.", {controller: 'about', action: 'faq', anchor:  'downloads'} %></p>
  <div class="l-cols-m-thirds l-stack-m">
    <% current_user.ownerships.includes(:issue).order('issue_id DESC').each do |o| %>
    <div>
      <h3 class="h-spaced-top">Issue <%= o.issue.number %></h3>
      <% o.issue.downloads.group_by(&:medium).each do |medium, dls| %>
      <h5><%= medium %></h5>
      <ul class="plain">
        <% dls.each do |dl| %>
        <li><a href="#"><%= dl.format %></a> (<%= number_to_human_size dl.file_file_size %>)</li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <% end %>

    <div>
      <h3 class="h-spaced-top">Issue 3</h3>
      <h5>Ebook</h5>
      <ul class="plain">
        <li><a href="#">ePub</a></li>
        <li><a href="#">Kindle</a></li>
        <li><a href="#">PDF (Single Page)</a></li>
        <li><a href="#">PDF (Spread)</a></li>
        <li><a href="#">Zip Bundle (All Files)</a></li>
      </ul>
    </div>
  </div>
</section>
