<% title "Reader Account" %>
<section class="styled l-p">
  <%- if current_user.is_admin? -%>
  <p><strong>You’re an administrator.</strong> <%= link_to "Go to Admin →", admin_root_path %></p>
  <hr />
  <%- end -%>
  <h3>Personal Information</h3>
  <dl>
    <dt>Name</dt>
    <dd><%= current_user.name %></dd>
    <dt>Email</dt>
    <dd><%= current_user.email %></dd>
  </dl>
  <p><%= link_to "Update information", edit_account_path %></p>

  <% if current_user.current_subscriptions.size > 0 %>
  <h3>Current Subscription<%= 's' if current_user.current_subscriptions.size > 1 %></h3>
  <% current_user.current_subscriptions.each do |sub| %>
    <dl>
      <dt>Type</dt>
      <dd><%= sub.description %></dd>
      <dt>Issues</dt>
      <% issues = Hash[Issue.order('number ASC').where(number: sub.issues).map{|i| [i.id, i]}] %>
      <% sub.issues.each do |issue| %>
        <% if issues[issue] && (issues[issue].published? || issues[issue].preview?) %>
          <dd><%= link_to "Issue #{issues[issue].number}", issue_path(issue) %></dd>
        <% else %>
          <dd>Issue <%= issue %></dd>
        <% end %>
      <% end %>
    </dl>
    <% end %>
  <% end %>

  <% if current_user.subscriptions.count > current_user.current_subscriptions.size %>
  <h3>History</h3>
  <ul class="plain">
    <% current_user.subscriptions.reject{|s| current_user.current_subscriptions.collect(&:id).include?(s.id)}.each do |s| %>
      <% if s.cancelled? %>
        <li><strong><%= s.start_date %>:</strong> <del><%= s.description %> (Issues <%= s.issues.join ', ' %>)</del> <strong class="c-error">CANCELLED</strong> </li>
      <% else %>
        <li><strong><%= s.start_date %>:</strong> <%= s.description %> (Issues <%= s.issues.join ', ' %>)</li>
      <% end %>
    <% end %>
  </ul>
  <% end %>


  <hr />

  <h2>Shipping Address</h2>
  <% if current_user.shipping_address.present? %>
  <blockquote><p>
    <%= current_user.full_name %><br/>
    <%= current_user.shipping_address.lines.split("\n").map{|l| html_escape(l)}.join("<br/>").html_safe %><br/>
    <%= current_user.shipping_address.city %><br/>
    <%- if current_user.shipping_address.region.present? -%>
    <%= current_user.shipping_address.region %><br/>
    <%- end -%>
    <%- if current_user.shipping_address.post_code.present? -%>
    <%= current_user.shipping_address.post_code %><br/>
    <%- end -%>
    <%= current_user.shipping_address.country.name %><br/>
  </p></blockquote>
  <p><%= link_to "Update address", account_address_path %></p>
  <% else %>
  <p><strong class="highlight">We have no address for you.</strong> <%= link_to "Add an address.", account_address_path %></p>
  <% end %>

  <%- if @visible_downloads.any? -%>
  <hr />
  <h2>Downloads</h2>
  <p>All downloaded files are DRM-free. Please don’t share publicly.</p>
  <div class="l-cols-m-thirds l-stack-m">
    <%- @visible_downloads.each do |issue_num, downloads| -%>
    <div>
      <h3 class="h-spaced-top">Issue <%= issue_num %></h3>
      <% downloads.group_by(&:medium).each do |medium, dls| %>
        <h5><%= medium %></h5>
        <ul class="plain">
          <%- dls.each do |dl| -%>
            <li><%= link_to dl.format,download_path(dl: dl) %> (<%= number_to_human_size dl.file_file_size %>)</li>
          <%- end -%>
        </ul>
      <%- end -%>
    </div>
    <%- end -%>
  </div>
  <%- end -%>

</section>
