<div class="featured_piece">
  <figure class="featured_piece-illo">
    <%= illustration_tag(featured.issue_number, featured.author_slug, 'small') %>
  </figure>
  <div class="featured_piece-text">
    <h3 class="featured_piece-title">
      <a href="<%= piece_url(featured.issue_number, featured.author_slug, 'article') %>"><%= featured.title %></a>
    </h3>
    <blockquote class="featured_piece-synopsis">
      <p><%= featured.synopsis %></p>
    </blockquote>
    <p class="featured_piece-author">By <%= featured.author.name %></p>
  </div>
</div>