<header class="issue-piece-header">

  <% if @piece.metadata[@piece.type][:illustrator] %>
  <div class="issue-piece-header-illustration">
    <figure>
      <%= illustration_tag(@piece.issue, @piece.key, 'print') %>
      <figcaption>Illustration by <strong><%= @piece.metadata[@piece.type][:illustrator] %></strong></figcaption>
    </figure>
  </div>
  <% end %>

  <div class="issue-piece-header-text">
    <h1><%= @piece.metadata[@piece.type][:title] %></h1>
    <h2><%= @piece.metadata[@piece.type][:synopsis] %></h2>
    <p>By <strong><%= @piece.metadata[:author] %></strong> for <a href="<%= issue_path @piece.issue %>">Issue <%= @piece.issue %></a></p>
  </div>

</header>