<header class="piece-header">

  <% if @piece.illustrator %>
  <div class="piece-header-illustration">
    <figure>
      <%= illustration_tag(@piece) %>
    </figure>
  </div>
  <% end %>

  <div class="piece-header-text">

    <p class="piece-header-author byline vcard">
      <span class="fn author" rel="author"><%= @piece.author.name %></span>
    </p>

    <h1 class="piece-header-title">
      <%= @piece.title %>
    </h1>

    <h2 class="piece-header-synopsis">
      <%= @piece.synopsis %>
    </h2>

    <p class="piece-header-metadata">
      <span class="piece-header-silo">In <%= link_to "Issue #{@piece.issue_number}", issue_path(issue: @piece.issue_number) %></span>
      <span class="piece-header-topics">On <a href="#">Culture</a>, <a href="#">History</a>, <a href="#">Process</a></span>
    </p>

  </div>

</header>