<% push_page_title "Issues" %>

<header class="page-header">
  <h1>Issues</h1>
</header>

<% Issue.public_issues.ordered.each do |issue| %>
  <% cache issue, expires_in: 12.hours.ish do %>
    <section class="l-p-y l-line-t l-row issue-<%= issue.number %>">

      <h2 class="h2 t-strong l-col-half">
        Issue <strong class="issue-number issue-<%= issue.number %>"><%= issue.number %></strong>
      </h2>

      <ul class="l-col-half index-items">
        <% issue.articles.ordered.each do |article| %>
          <li class="index-item">
            <h3 class="index-item-author"><%= article.author.name %></h3>
            <% ['article', 'lesson'].each do |type| %>
            <p class="index-item-piece is-<%= type %>"><a <%= (@piece.present? && @piece.id == article.id) ? 'class="current"' : '' %> href="<%= piece_url(issue.number, article.author_slug, type) %>"><%= type == 'lesson' ? 'Lesson' : article.title %></a></p>
            <% end %>
          </li>
        <% end %>
      </ul>

    </section>
  <% end %>
<% end %>