<% push_page_title "All Issues" %>

<main class="issue_index">

  <header class="text l-pad-x-yy"><div class="l-container">
    <h1>All Issues</h1>
  </div></header>

  <% Issue.public_issues.ordered.each do |issue| %>
    <% cache issue, expires_in: 12.hours.ish do %>
      <section class="l-pad-x-yy l-divider-top issue-<%= issue.number %>"><div class="l-grid">

        <header class="l-col-l-half issueheader">
          <h1>Issue <strong><%= issue.number %></strong></h1>
          <p>Fall 2011 &middot; <a class="color-issue" href="<%= issue_url(issue.number) %>">Browse Issue</a></p>
        </header>

        <% if issue.purchasable? %>
        <div class="issuebuy is-boxed has-whitebuttons">
          <h2 class="issuebuy-caption">Buy this issue</h2>
          <%= render 'issue_buy_options', sub: false, issue: issue %>
        </div>
        <% end %>

        <div class="l-col-l-half">
          <%= render 'issue_toc', issue: issue %>
        </div>

      </div></section>
    <% end %>
  <% end %>

</main>
