<% push_page_title "All Issues" %>

<main class="issue_index">

  <% Issue.public_issues.ordered.each do |issue| %>
    <% cache issue do %>
      <section class="issue_index-entry issue-<%= issue.number %>"><div class="l-grid-padded">

        <header class="issue_index-entry-header l-grid-unit-half">
          <h1 class="issue_index-entry-header-name">Issue <strong><%= issue.number %></strong></h1>
          <p>Fall 2011 &middot; <a href="<%= issue_url(issue.number) %>">Browse Issue</a></p>
        </header>

        <% if issue.purchasable? %>
        <div class="issuebuy is-boxed has-whitebuttons">
          <h2 class="issuebuy-caption">Buy this issue</h2>
          <%= render 'issue_buy_options', sub: false, issue: issue %>
        </div>
        <% end %>

        <%= render 'issue_toc', issue: issue %>

      </div></section>
    <% end %>
  <% end %>

</main>