<% content_for(:page_title){ "All Issues" } %>

<main class="issue_index">

  <% Issue.public_issues.ordered.each do |issue| %>
  <section class="issue_index-entry issue-<%= issue.number %>"><div class="wrapper row">

    <header class="issue_index-entry-header">
      <h1 class="issue_index-entry-header-name">Issue <strong><%= issue.number %></strong></h1>
      <p>Fall 2011 &middot; <a href="<%= issue_url(issue.number) %>">Browse Issue</a></p>
    </header>

    <div class="issuebuy is-boxed has-whitebuttons">
      <h2 class="issuebuy-caption">Buy this issue</h2>
      <%= render 'issue_buy_options', sub: false %>
    </div>

    <%= render 'issue_toc', issue: issue %>

  </div></section>
  <% end %>

</main>