<% title "#{@piece.title}, by #{@piece.author.name}" %>
<% cache @piece do %>
<article class="issue-<%= @piece.issue_number %> c-issue piece is-<%= @piece.type.downcase %> l-section-x"><div>

  <%= render 'piece_header' %>

  <div class="piece-body l-reading">
    <%=raw Kramdown::Document.new(@piece.body).to_html %>
  </div>

  <footer class="piece-author l-reading">
    <figure class="piece-author-portrait">
      <%= portrait_tag(@piece) %>
    </figure>
    <div class="piece-author-bio text">
      <p><%= raw @piece.author.bio %></p>
      <p>
        <%= link_to piece_path(@companion.issue.number, @companion.author_slug, @companion.class.name.underscore.to_sym), class: "button in-sc is-small" do %>
          Read Next: <%= @piece.author.name.given_name.possessive %> <%= @companion.type %>
        <% end %>
      </p>
    </div>
  </footer>

</div></article>
<% end %>

<aside class="l-section-x piece-post"><div>
  <section class="piece-post-issue issue-<%= @piece.issue_number %> c-issue">
    <h2 class="box-title">Part of <%= link_to "Issue #{@piece.issue_number}", issue_path(@piece.issue_number) %></h2>
    <div class="text">
      <ul class="plain">
      <% @piece.issue.authors.each do |author| %>
        <%= content_tag :li, author.name, class: ('marker-arrow' if author == @piece.author) %>
      <% end %>
      </ul>
      <p><%= link_to "Browse Issue #{@piece.issue_number}", issue_path(@piece.issue_number) %></p>
    </div>
  </section>
  <section class="piece-post-topics">
    <h2 class="box-title">Related Topics</h2>
    <div class="text">
      <ul class="plain double">
        <li>
          <h5><a href="#">Culture</a></h5>
          <p><strong>4</strong> Pieces</p>
        </li>
        <li>
          <h5><a href="#">History</a></h5>
          <p><strong>7</strong> Pieces</p>
        </li>
        <li>
          <h5><a href="#">Process</a></h5>
          <p><strong>8</strong> Pieces</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="piece-post-piece">
    <h2 class="box-title">Recommended in <%= link_to "Staff Picks", staffpicks_path, class: "c-issue-#{@recommended.issue_number}" %></h2>
    <div>
    <%= render :partial => 'shared/units/piece', :object  => @recommended %>
    </div>
  </section>
</div></aside>

<aside class="support bg-gray l-line-t"><div>
  <div class="l-col-4">
    <figure>
      <%= image_tag "ui/big-devices.png" %>
    </figure>
  </div>
  <div class="l-col-8 text t-big">
    <h4>This piece is available for free thanks to our supporters.</h4>
    <p>We’re a <a href="#">100% independent publication</a>, and rely on our readers’ support to continue publishing online for free. <strong>If you liked this piece, please consider supporting us.</strong></p>
    <p>
      <button class="button is-large">Buy this Issue</button>
      <button class="button is-large">Subscribe to The Manual</button> or
      <a href="#">browse the shop.</a>
    </p>
  </div>
</div></aside>

<% content_for :footer do %>
<script>$(function() { $('.piece-body').footnotes(); });</script>
<% end %>