<% cache @piece.cache_key, expires_in: @piece.cache_ttl do %>
  <main class="issue-<%= @piece.issue %>" role="main">

    <!-- Article -->
    <article class="issue-piece is-<%= @piece.type %>"><div>

      <%= render 'piece_header' %>

      <div class="issue-piece-text">
        <%= render file: "pieces/issue-#{@piece.issue}/#{@piece.key}-#{@piece.type}" %>
      </div>

      <%= render 'piece_footer' %>
    </div></article>

    <aside class="issue-pagination"><div>
      <ul class="issue-pagination-list">
        <li class="issue-pagination-item is-previous">
        <% if (prev_article = @piece.prev) %>
          <a href="<%= piece_url(prev_article.issue, prev_article.key, prev_article.type) %>">
            <h2><%= prev_article.metadata[:author] %></h2>
            <p><strong class="piece-title"><%= prev_article.metadata[prev_article.type][:title] %></strong></p>
          </a>
        <% end %>
        </li>

        <li class="issue-pagination-item is-current">
          <a class="issue-<%= @piece.issue %>" href="<%= issue_url @piece.issue %>">
            <h2>Browse Issue&nbsp;<%= @piece.issue %></h2>
          </a>
        </li>


        <li class="issue-pagination-item is-next">
        <% if (next_article = @piece.next) %>
          <a href="<%= piece_url(next_article.issue, next_article.key, next_article.type) %>">
            <h2><%= next_article.metadata[:author] %></h2>
            <p><strong class="piece-title"><%= next_article.metadata[next_article.type][:title] %></strong></p>
          </a>
        <% end %>
        </li>

      </ul>
    </div></aside>


  </main>
<% end %>