<% push_page_title ["#{@piece.title}, by #{@piece.author.name}", "Issue #{@piece.issue_number}"] %>
<% cache @piece do %>
<article class="issue-<%= @piece.issue_number %> c-issue piece is-<%= @piece.type.downcase %> l-wrapper">

  <%= render 'piece_header' %>

  <div class="piece-body l-reading">
    <%=raw Kramdown::Document.new(@piece.body).to_html %>
  </div>

  <footer class="l-reading piece-info">
    <div class="l-row">
      <h2 class="t-sc-heavy l-col-2">Part Of</h2>
      <p class="l-col-10 text"><a href="#">Issue <%= @piece.issue_number %></a></p>
    </div>
    <div class="l-row">
      <h2 class="t-sc-heavy l-col-2">Topics</h2>
      <p class="l-col-10 text"><a href="#">Culture</a>, <a href="#">History</a>, <a href="#">Process</a></p>
    </div>
    <div class="l-row">
      <h2 class="t-sc-heavy l-col-2">Author</h2>
      <div class="l-col-10 piece-footer-author">
        <figure class="piece-footer-author-portrait">
          <%= portrait_tag(@piece.issue_number, @piece.author_slug) %>
        </figure>
        <div class="text">
          <p><%= raw @piece.author.bio %></p>
        </div>
      </div>
    </div>
    <div class="l-row">
      <h2 class="t-sc-heavy l-col-2">Next</h2>
      <p class="l-col-10 text">
        Read the author’s
        <%= link_to piece_path(@companion.issue.number, @companion.author_slug, @companion.class.name.underscore.to_sym) do %>
           companion <%= @companion.type.downcase %>
        <% end %>
        to this <%= @piece.type.downcase %>.
      </p>
    </div>
  </footer>

</article>
<% end %>

<aside class="support issue-<%= @piece.issue_number %> l-line-t text t-big c-issue"><div>
  <h4>This piece is available for free thanks to our supporters.</h4>
  <p>We’re a <a href="#">100% independent publication</a>, and rely on our readers’ support to continue publishing online for free. <strong>If you liked this piece, please consider supporting us.</strong></p>
  <p>
    <button class="button is-large">Buy this Issue</button>
    <button class="button is-large">Subscribe to The Manual</button> or
    <a href="#">browse the shop.</a>
  </p>
</div></aside>

<aside class="l-section l-line-t"><div class="l-reading">
  <h2 class="h-sc">Recommended Reading</h2>
  <%= render :partial => 'shared/units/piece', :object  => @piece.random %>
</div></aside>

<% content_for :footer do %>
<script>$(function() { $('.piece-body').footnotes(); });</script>
<% end %>