<% push_page_title ["#{@piece.title}, by #{@piece.author.name}", "Issue #{@piece.issue_number}"] %>

<main class="issue-<%= @piece.issue_number %>" role="main">
  <% cache @piece do %>

    <!-- Article -->
    <article class="issue-piece is-<%= @piece.type.downcase %> l-p-x"><div class="l-container">

      <%= render 'piece_header' %>

      <div class="issue-piece-text">
        <%=raw Kramdown::Document.new(@piece.body).to_html %>
      </div>

      <%= render 'piece_footer' %>
    </div></article>

    <aside class="issue-pagination l-line"><div>
      <ul class="issue-pagination-list">
        <li class="issue-pagination-item is-previous">
        <% if (prev_article = @piece.prev) %>
          <a href="<%= prev_article.path %>">
            <h2><%= prev_article.author.name %></h2>
            <p><strong class="piece-title"><%= prev_article.title %></strong></p>
          </a>
        <% end %>
        </li>

        <li class="issue-pagination-item is-current">
          <a class="issue-<%= @piece.issue_number %>" href="<%= issue_url @piece.issue_number %>">
            <h2>Browse Issue&nbsp;<%= @piece.issue_number %></h2>
          </a>
        </li>


        <li class="issue-pagination-item is-next">
        <% if (next_article = @piece.next) %>
          <a href="<%= next_article.path %>">
            <h2><%= next_article.author.name %></h2>
            <p><strong class="piece-title"><%= next_article.title %></strong></p>
          </a>
        <% end %>
        </li>

      </ul>
    </div></aside>
  <% end %>

  <% cache [@piece, :random], expires_in: 300.ish do %>
    <aside class="l-p-xyy"><div class="l-grid">

    <!-- <div class="box-group l-col-half"> -->

      <section class="box l-col-half">
        <h2 class="box-title">
          Recommended reading
        </h2>
        <%= render partial: 'shared/piece', object: @piece.random %>
      </section>

      <section class="box l-col-half">
        <h2 class="box-title">
          <a class="color-issue" href="<%= issue_url(@piece.issue_number) %>">Buy this issue</a> and support The Manual
        </h2>

        <div class="issuebuy">
          <figure class="issuebuy-figure">
            <%= image_tag "ui/devices-#{@piece.issue_number}.png" %>
          </figure>
          <%= render 'issue_buy_options', sub: false, issue: @piece.issue %>
        </div>
      </section>

    <!-- </div> -->

    </div></aside>
  <% end %>

</main>
