<% push_page_title "Issue #{@issue.number}"  %>

<% cache @issue do %>

  <main class="issue-<%= @issue.number %>">

    <header class="l-pad-x-yy text"><div class="l-container issueheader">
      <h1>Issue <strong class="issue-number"><%= @issue.number %></strong></h1>
    </div></header>

    <section class="issue l-divider-top"><div class="l-pad-x-yy">

      <!--
      <div class="issuebuy is-wide is-boxed">
        <h2 class="issuebuy-caption">
          <strong>Buy this issue. Support the manual.</strong> Or read for free below.
        </h2>
        <%#= render 'issue_buy_options', sub: false %>
      </div>
      -->

      <ul class="issue-content l-grid">
      <% @issue.articles.ordered.each do |article| %>
        <li class="issue_entry l-col-l-half">
          <figure class="issue_entry-illo">
            <%= illustration_tag @issue.number, article.author_slug, 'small' %>
          </figure>
          <div class="issue_entry-text">
            <h2 class="issue_entry-author"><%= article.author.name %></h2>

            <ul class="issue_entry-pieces">
              <li class="issue_entry-piece is-article">
                <h3 class="issue_entry-piece-title"><a href="<%= piece_path @issue.number, article.author_slug, :article %>"><%= article.title %></a></h3>
                <blockquote class="issue_entry-piece-synopsis">
                  <p><%= article.synopsis %></p>
                </blockquote>
              </li>
              <li class="issue_entry-piece is-lesson">
                <h3 class="issue_entry-piece-title"><a href="<%= piece_path @issue.number, article.author_slug, :lesson %>">Lesson</a></h3>
                <blockquote class="issue_entry-piece-synopsis">
                  <p><%= article.lesson.synopsis %></p>
                </blockquote>
              </li>
            </ul>
          </div>
        </li>
      <% end %>
      </ul>
    </div></section>
    <!--
    <aside class="l-pad"><div class="l-grid">

      <section class="l-col-half box">
        <h2 class="box-title">
          <a class="color-issue" href="<%= issue_url(@issue.number) %>">Buy this issue</a> and support The Manual
        </h2>

        <div class="issuebuy">
          <figure class="issuebuy-figure">
            <%= image_tag "ui/devices-#{@issue.number}.png" %>
          </figure>
          <%= render 'issue_buy_options', sub: false, issue: @issue %>
        </div>
      </section>

      <section class="l-col-half box">
        <h2 class="box-title">Prints available at <a class="color-issue" href="/store">the Store</a></h2>
      </section>
    </div></aside>
    -->

  </main>

<% end %>