<% title "Issue #{@issue.number}"  %>

<% cache @issue do %>

  <div class="l-line-t l-p-y tagline issue-<%= @issue.number %> c-issue">
    <span class="has-popover">
      <a href="#" class="button is-large" data-popover="trigger">
        Buy this issue
        <%= inline_svg('ui/thin-down-arrow.svg', :class => "last-child") %>
      </a>
      <div class="buy-popover is-left" data-popover="popover">
        <div class="buy is-unlined">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">20</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </span>
    from the <%= link_to "store", shop_issue_path(issue: @issue.number) %> or <%= link_to 'subscribe', {:controller => 'store', :action => 'subscription'} %>
    and support The Manual.
  </div>

  <ul class="l-issue issue-<%= @issue.number %>">
    <% @issue.articles.ordered.each do |article| %>
    <li>
      <figure class="l-issue-illo">
        <%=
        tag "img",
            sizes: "(min-width: 500px) 13em, 1px",
            srcset: srcset(base: illo_basepath(article), format: "jpg", sizes: %w(300 500 750 1000 1500), blank: true)
        %>
      </figure>
      <div class="l-issue-text">

        <h2 class="piece-unit-author"><%= article.author.name %></h2>

        <div class="piece-unit-entry">
          <h3 class="piece-unit-title">
            <%= link_to article.title, piece_path(@issue.number, article.author_slug, :article)  %>
          </h3>
          <p class="piece-unit-synopsis is-short">
            <%= article.synopsis %>
          </p>
          <p class="piece-unit-metadata">
            <%= topic_links_for article %>
          </p>
        </div>

        <div class="piece-unit-entry">
          <h3 class="piece-unit-title">
            <%= link_to article.lesson.title, piece_path(@issue.number, article.author_slug, :lesson) %>
          </h3>
          <p class="piece-unit-synopsis is-short">
            <%= article.lesson.synopsis %>
          </p>
          <p class="piece-unit-metadata">
            <%= topic_links_for article.lesson %>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>

<% end %>
