<% push_page_title "Issue #{@issue.number}"  %>

<% cache @issue do %>

  <header class="page-header">
    <h1>
      Issue <strong class="issue-number issue-<%= @issue.number %>"><%= @issue.number %></strong>
    </h1>
  </header>

  <ul class="l-issue l-line-t">
    <% @issue.articles.ordered.each do |article| %>
    <li>
      <figure class="l-issue-illo">
        <%= illustration_tag @issue.number, article.author_slug, 'print' %>
      </figure>
      <div class="l-issue-text">

        <h2 class="piece-unit-author"><%= article.author.name %></h2>

        <div class="piece-unit-entry">
          <h3 class="piece-unit-title">
            <%= link_to article.title, piece_path(@issue.number, article.author_slug, :article), class: "issue-#{@issue.number}"  %>
          </h3>
          <p class="piece-unit-synopsis is-wide">
            <%= article.synopsis %>
          </p>
          <p class="piece-unit-metadata">
            <span class="piece-unit-topics">On <a href="#">Thing</a>, <a href="#">Other</a>, <a href="#">Another</a></span>
          </p>
        </div>

        <div class="piece-unit-entry">
          <h3 class="piece-unit-title">
            <%= link_to article.lesson.title, piece_path(@issue.number, article.author_slug, :lesson), class: "issue-#{@issue.number}" %>
          </h3>
          <p class="piece-unit-synopsis is-wide">
            <%= article.lesson.synopsis %>
          </p>
          <p class="piece-unit-metadata">
            <span class="piece-unit-topics">On <a href="#">Thing</a>, <a href="#">Other</a>, <a href="#">Another</a></span>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <!--
  <aside class="l-p"><div class="l-grid">

    <section class="l-col-half box">
      <h2 class="box-title">
        <a class="color-issue" href="<%= issue_url(@issue.number) %>">Buy this issue</a> and support The Manual
      </h2>

      <div class="issuebuy">
        <figure class="issuebuy-figure">
          <%= image_tag "ui/devices-#{@issue.number}.png" %>
        </figure>
        <%= render 'issue_buy_options', sub: false, issue: @issue %>
      </div>
    </section>

    <section class="l-col-half box">
      <h2 class="box-title">Prints available at <a class="color-issue" href="/store">the Store</a></h2>
    </section>
  </div></aside>
  -->

<% end %>