<%- content_for(:site_header) { "issue-#{@issue.number}" } -%>
<%= render partial: 'issues/preview_header' if @issue.preview? -%>

<!--
<div class="l-p l-line-b <%= @issue.code %> c-issue">
  <p class="tagline">
    <%= link_to "Buy #{@issue.name}", shop_product_path(@issue.number), class: "btn btn-large" %>
    <%- formats = ['Print'] + @issue.downloads.map(&:medium).uniq.reverse -%>
    <strong class="br-s">in <%= formats.to_sentence %> <%= formats.size > 1 ? "Editions" : "Edition" %></strong>
  </p>
</div>
-->
<ul class="issue l-stack-plain">
  <%- @issue.articles.ordered.each do |article| -%>
  <li>
    <figure class="issue-illo">
      <%= render partial: 'pieces/piece_illo', locals: { piece: article, sizes: "(min-width: 500px) 10.5em, (min-width: 850px) 12em, (min-width: 1000px) 16em, 1px" } %>
    </figure>
    <div class="issue-pieces">
      <h2 class="h-sc h-sc-spaced"><%= article.author.name %></h2>
        <%= render article %>
        <%= render article.lesson %>
    </div>
  </li>
  <%- end -%>
</ul>
