<%- title @issue.name -%>
<%- content_for(:logo) { "issue-#{@issue.number}" } -%>
<%= render partial: 'issues/preview_header' if @issue.preview? -%>
<div class="l-p l-line-b <%= @issue.code %> c-issue">
  <h2 class="h-sc">Support The Manual</h2>
  <p class="tagline">
    <%= link_to "Buy #{@issue.name}", shop_product_path(@issue.code), class: "btn btn-large" %>
    <strong class="br-s">in <%= (['Print'] + @issue.downloads.map(&:medium).uniq.reverse).to_sentence %>.</strong>
  </p>
</div>
<ul class="issue">
  <%- @issue.articles.ordered.each do |article| -%>
  <li>
    <figure class="issue-illo">
      <%= render partial: 'pieces/piece_illo', locals: { piece: article, sizes: "(min-width: 500px) 10.5em, (min-width: 850px) 12em, (min-width: 1000px) 16em, 1px" } %>
    </figure>
    <div class="issue-pieces">
      <h2 class="h-sc h-sc-spaced"><%= article.author.name %></h2>
        <%= render article %>
        <%= render article.lesson %>
    </div>
  </li>
  <%- end -%>
</ul>