<%- title "Issue #{@issue.number}" -%>
<%- content_for(:logo) { "issue-#{@issue.number}" } -%>

<div class="l-line-t l-p issue-<%= @issue.number %> c-issue">
  <section class="callout l-single">
    <h2 class="callout-title">We need your help.</h2>
    <div class="callout-body">
      <p>We’re publishing all our issues online for free under a Creative Commons license and working on new ebook and audiobook formats.</p>
      <p><strong>But we need your support to keep our issues online for free</strong>, and pay our writers, illustrators, and staff for their wonderful work.</p>
      <p><%= link_to "Back our Kickstarter", kickstarter_path %> and keep The Manual available online for free.</p>
      <%- track_link('.callout-body a', 'Clicked Kickstarter Button (List Callout)') -%>
    </div>
    <%= render partial: "shared/kickstarter" %>
  </section>
</div>
<%- cache @issue do -%>
<ul class="l-issue issue-<%= @issue.number %>">
  <%- @issue.articles.ordered.each do |article| -%>
  <%- lesson = article.lesson -%>
  <li>
    <figure class="l-issue-illo">
      <%=
      tag "img",
          sizes: "(min-width: 500px) 10.5em, (min-width: 850px) 12em, (min-width: 1000px) 15em, 1px",
          srcset: srcset(base: article.illo_basepath, format: "jpg", sizes: %w(300 500 750 1000 1500), blank: true)
      %>
    </figure>
    <div class="l-issue-text">
      <h2 class="piece-unit-author"><%= article.author.name %></h2>
      <div class="piece-unit-entry">
        <h3 class="piece-unit-title">
          <%= link_to article.title, piece_path(@issue.number, article.author_slug, :article)  %>
        </h3>
        <p class="piece-unit-synopsis">
          <%= article.synopsis %>
        </p>
        <p class="piece-unit-metadata">
          <span class="piece-unit-topics"><%= render partial: "pieces/piece_topics", locals: { piece: article } %></span>
        </p>
      </div>
      <div class="piece-unit-entry">
        <h3 class="piece-unit-title">
          <%= link_to lesson.title, piece_path(@issue.number, article.author_slug, :lesson) %>
        </h3>
        <p class="piece-unit-synopsis">
          <%= lesson.synopsis %>
        </p>
        <p class="piece-unit-metadata">
          <span class="piece-unit-topics"><%= render partial: "pieces/piece_topics", locals: { piece: lesson } %></span>
        </p>
      </div>
    </div>
  </li>
  <%- end -%>
</ul>
<%- end -%>