<% include_payment_assets %>

<main class="l-p"><div class="l-col">

  <section id="cart" class="cart">
    <h2 class="h2 t-heavy l-p-y">Cart</h2>
    <ul class="cart-items">
      <li class="l-row">
        <h4 class="cart-item-name">
          Issue 4: Print &amp; Ebook
        </h4>
        <div class="cart-item-price price">
          <span class="currency">$</span><span class="value">25</span>
        </div>
        <div class="cart-item-actions l-col-2">
          <span class="cart-item-quantity">
            <button data-change="-1">-</button>
            1
            <!-- <input type="text" pattern="\d*" readonly="readonly" value="1" /> -->
            <button data-change="1">+</button>
          </span>
          <button class="cart-item-remove">X</button>
        </div>
      </li>
      <li class="l-row">
        <h4 class="cart-item-name">
          The Collection: Print &amp; Ebook
        </h4>
        <div class="cart-item-price price">
          <span class="currency">$</span><span class="value">80</span>
        </div>
        <div class="cart-item-actions l-col-2">
          <span class="cart-item-quantity">
            <button data-change="-1">-</button>
            1
            <!-- <input type="text" pattern="\d*" readonly="readonly" value="1" /> -->
            <button data-change="1">+</button>
          </span>
          <button class="cart-item-remove">X</button>
        </div>
      </li>
    </ul>
    <div class="cart-summary">
      <div class="cart-total">
        <p class="price t-huge">
          <span class="currency">$</span><span class="value t-heavy">100</span>
        </p>
        <small class="h2-sc">+ $15 shipping</small>
      </div>
    </div>
  </section>

  <section id="form">
    <h2 class="h2 t-heavy l-p-y">Payment</h2>
    <%= form_for @user, url: subscribe_path, html: {method: :post, class: "form payment-form", autocomplete: :on, novalidate: :novalidate } do |f| %>
      <input type="hidden" name="stripe_token" value="" />
      <!-- HIDDEN FIELD FOR NOW - MR -->
      <input type="hidden" name="tier" value="<%= @tier %>" />
      <!--<span class="payment-errors"></span>-->

      <fieldset class="form-section">
        <h2 class="form-heading">Personal Information</h2>
        <p class="form-subheading">Use your own name, even if different from the credit card. Email will be your login.</p>

        <div class="l-units">

          <div class="l-unit-s-half">
            <dl class="field">
              <dt><%= f.label :first_name, 'Name' %></dt>
              <dd class="field-half">
                <%= f.text_field :first_name, class: 'is-long', placeholder: 'First', required: true, autofocus: true %>
              </dd>
              <dd class="field-half">
                <%= f.text_field :last_name, class: 'is-long', placeholder: 'Last', required: true, autofocus: true %>
              </dd>
            </dl>
          </div>

          <dl class="field l-unit-s-half">
            <dt><%= f.label :email %></dt>
            <dd><%= f.email_field :email, class: 'is-long', placeholder: 'yourname@domain.com', required: true %></dd>
          </dl>
        </div>
      </fieldset>

      <% if Subscription::TIERS[@tier][:shipping] %>
      <fieldset class="form-section">
        <h2 class="form-heading">Shipping Address</h2>
        <%= f.fields_for :addresses, @user.addresses.new do |a| %>

        <dl class="field">
          <dt>
            <%= a.label :lines, 'Street, Number' %>
            <small class="label-note">You may include company or office name</small>
          </dt>
          <dd>
            <%= a.text_area :lines, required: true, class: 'is-long noresize', spellcheck: false, rows: 3, :'data-shipping-address' => 'lines' %>
          </dd>
        </dl>

        <div class="l-units">
          <dl class="field l-unit-s-half">
            <dt><%= a.label :city %></dt>
            <dd><%= a.text_field :city, required: true, class: 'is-long', :'data-shipping-address' => 'city' %></dd>
          </dl>

          <dl class="field l-unit-s-half">
            <dt><%= a.label :region %></dt>
            <dd><%= a.text_field :region, class: 'is-long', placeholder: 'optional', :'data-shipping-address' => 'region' %></dd>
          </dl>

          <dl class="field l-unit-s-half">
            <dt><%= a.label :post_code %></dt>
            <dd><%= a.text_field :post_code, class: 'is-long', required: true, :'data-shipping-address' => 'post_code' %></dd>
          </dl>

          <dl class="field l-unit-s-half">
            <dt><%= a.label :country_id %></dt>
            <dd class="select"><%= custom_country_select a, :country_id, required: true, class: 'is-long fill-on-load', :'data-shipping-address' => 'country' %></dd>
          </dl>
        </div>
        <% end %>
      </fieldset>
      <% end %>

      <fieldset class="form-section">
        <h2 class="form-heading">Credit Card</h2>
        <p class="form-subheading">All payment and card information is handled by <a href="https://stripe.com/" rel="external" title="Read more about Stripe">Stripe</a> over a secure connection.</p>

        <div class="l-units">
          <dl class="field l-unit-s-half">
            <dt><label for="user_cc-number">Number</label></dt>
            <dd>
              <input required id="user_cc-number" type="text" size="20" name="cc-number" class="cc-number is-long" autocompletetype="cc-number" placeholder="#### #### #### ####" pattern="\d*" />
            </dd>
          </dl>

          <dl class="field l-unit-half l-unit-s-fourth">
            <dt><label for="user_cc-exp">Expiration</label></dt>
            <dd>
              <input id="user_cc-exp" required type="text" name="cc-exp" class="cc-exp is-long" autocompletetype="cc-exp"  placeholder="MM / YY" pattern="\d*" value="" />
            </dd>
          </dl>

          <dl class="field l-unit-half l-unit-s-fourth">
            <dt><label for="user_cc-cvc">Code</label></dt>
            <dd>
              <input required type="text" id="user_cc-cvc" name="cc-cvc" class="cc-csc is-long" autocomplete="off" autocompletetype="cc-csc" placeholder="###" pattern="\d*" value=""/>
            </dd>
          </dl>
        </div>
      </fieldset>

      <div class="form-actions form-section">
        <!--<p class="form-message">Your credit card will be charged <span data-shipping-cost="total"></span> immediately.</p>-->
        <button type="submit" class="button is-large t-big" data-disable-with="Processing...">Pay Now</button>
      </div>
    <% end %>
  </section>

  <% content_for :footer do %>
  <script>$(function() {
    $("a[href='#fn:shipping']").click(function() {
      var $shipping = $("[id='fn:shipping']");
      $.scrollTo($shipping, {
        duration: 250,
        onAfter: function() {
          $shipping.animatecss('flash');
        }
      });
      return false;
    });

    $.getEstimatedShippingCost({}, function(data){
      if (data.status == 'ok' && 'cost' in data.response && 'ip_country_name' in data.response) {
        // Update cost
        var cost = Number(data.response.cost).toFixed();
        $('[data-shipping="cost"]').animatecss('flash').html(prefixCurrency(cost)+"&nbsp;");
        // Update message
        message = 'Shipping costs <span class="highlight">estimated for ' + data.response.ip_country_name + '.</span> Exact cost depends on shipping address and will be calculated at checkout.';
        $('[data-shipping="message"]').animatecss('fadeIn').html(message);
      }
    });
  });</script>
  <% end %>

</div></main>