<main>
  <section class="issue-4 bg-gray l-p-yy l-p-menu"><div class="l-container">

    <div class="l-row">
      <div class="text colored-links l-col-3">
        <p class="t-sc-heavy">Our latest issue</p>
        <h1>Issue <span class="issue-number">4</span></h1>
        <p>Six articles and six lessons from outstanding writers, available in print, digital, and online editions.</p>
        <p><a href="#" class="button button-sc is-wide">Explore Issue 4</a></p>
      </div>
      <figure class="l-col-9">
        <img src="http://placehold.it/1200x600" alt="">
      </figure>
    </div>

    <div class="l-row">
      <div class="l-m-tt l-col-3 ">
        <h2 class="t-sc-heavy colored-links">Buy from the <%= link_to "Store", store_path %></h2>
        <div class="buy buy-boxed l-m-y">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price-heavy" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price-heavy" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">15</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price-heavy" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="l-m-tt l-col-9">
        <h2 class="t-sc-heavy l-m-b colored-links">Read <%= link_to "this issue", issue_path(issue: 4) %> online</h2>
        <ul class="issuetoc">
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Craig Mod</h3>
            <p class="issuetoc-piece is-article"><a href="#">On Permission</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Wilson Miner</h3>
            <p class="issuetoc-piece is-article"><a href="#">Perennial Design</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Diana Kimball</h3>
            <p class="issuetoc-piece is-article"><a href="#">On Mentoring</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Jennifer Brook</h3>
            <p class="issuetoc-piece is-article"><a href="#">Platforms as Cultures</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Paul Ford</h3>
            <p class="issuetoc-piece is-article"><a href="#">On File Formats, Very Briefly</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">David Cole</h3>
            <p class="issuetoc-piece is-article"><a href="#">Made to Measure</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
        </ul>
      </div>
    </div>

  </div></section>

  <section class="l-p-xyy l-line-t"><div class="l-container">
    <div class="l-row">
      <h2 class="l-col-half h2">Staff Picks</h2>
      <p class="l-col-half t-r"><%= link_to "Explore All Issues", issues_path, class: 'ghost-button button-sc' %></p>
    </div>
    <div class="l-row">
      <% @pieces.each do |p| %>
      <div class="l-p-y l-col-half">
        <%= render partial: 'shared/piece', object: p  %>
      </div>
      <% end %>
    </div>
  </div></section>

  <section class="l-p-xyy l-line-t"><div class="l-container">
    <div class="l-row">
      <div class="l-col-half">
        <p class="h-sc"><%= link_to "Buy from the store", store_path %> and support The Manual</p>
        <%= link_to 'store/subscription', class: 'plain-banner t-center' do %>
          <figure class="banner-image">
            <%= image_tag 'banners/banner-subscription.svg' %>
          </figure>
          <div class="banner-text">
            <p class="banner-title">Yearly Subscription</p>
            <p class="banner-description">The next three issues at 10% off.</p>
          </div>
        <% end %>
        <%= link_to 'store/issues', class: 'plain-banner t-center' do %>
          <figure class="banner-image">
            <%= image_tag 'banners/banner-collection.svg' %>
          </figure>
          <div class="banner-text">
            <p class="banner-title">The Collection</p>
            <p class="banner-description">All four published issues, at 20% off.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div></section>
</main>