<footer class="footer">
  <section class="footer__promos l-line-t l-x l-pp"><div class="l-wrap l-row l-stack-m">
    <div class="l-col-m-6 footer__promos__newsletter">
      <div class="styled">
        <h4>Subscribe to our Newsletter</h4>
        <p>Subscribe to our newsletter and infrequent updates about new issue launches, store sales, and early previews of future editions.</p>
      </div>
      <form action="//themanual.us9.list-manage.com/subscribe/post?u=bb578e8fc698bbfe3956be6f8&amp;id=35cc7f7547" method="post" class="form footer__promos__newsletter__form" novalidate>
        <p class="field">
          <input name="EMAIL" type="email" required placeholder="yourname@domain.com" class="is-xs" /> <button type="submit" name="subscribe" class="btn btn-sc">Subscribe</button>
        </p><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bb578e8fc698bbfe3956be6f8_35cc7f7547" tabindex="-1" value=""></div>
      </form>
    </div>
    <div class="l-col-m-5 l-shift-m-1 footer__promos__twitter styled">
      <h4>Follow us on Twitter</h4>
      <p>Links worth reading, frequent news, and answers to your questions at <%= link_to "@themanual", "https://twitter.com/themanual" %>.</p>
      <p><a class="twitter-follow-button" href="https://twitter.com/themanual" data-show-count="true" data-size="large" data-lang="en">Follow @themanual</a></p>
    </div>
  </div></section>
  <section class="footer__links l-line-t l-container"><div class="l-row">
    <div class="l-col-m-6 styled styled--tight">
      <p>Made possible by our generous patrons: <%= link_to "MailChimp", "http://mailchimp.com" %> and <%= link_to "Hover", "http://hover.com" %></p>
      <p><%= user_signed_in? ? link_to("Log out", destroy_user_session_path) : link_to("Subscriber Login", new_user_session_path) %> &middot; Licensed <%= link_to "CC BY-NC-SA 4.0", about_path(:license) %> &middot; Version <%= link_to "0.3.0", about_path(:releases) %></p>
    </div>
  </div></section>
</footer>
