<footer class="footer">
  <section class="footer__promos l-line-t l-x l-pp"><div class="l-wrap l-row">
    <div class="l-col-s-6 footer__promos__newsletter">
      <div class="styled">
        <h4>Subscribe to our Newsletter</h4>
        <p>Subscribe to our newsletter and infrequent updates about new issue launches, store sales, and early previews of future editions.</p>
      </div>
      <form action="http://goodonpaper.createsend.com/t/y/s/uukdb/" method="post" class="form footer__promos__newsletter__form" novalidate>
        <p class="field">
          <input name="cm-uukdb-uukdb" type="email" required placeholder="yourname@domain.com" class="is-m" /> <button type="submit" class="btn btn-sc">Subscribe</button>
        </p>
      </form>
    </div>
    <div class="l-col-s-5 l-shift-s-1 footer__promos__twitter styled">
      <h4>Follow us on Twitter</h4>
      <p>Links worth reading, frequent news, and answers to your questions at <%= link_to "@themanual", "https://twitter.com/themanual" %>.</p>
      <p><a class="twitter-follow-button" href="https://twitter.com/themanual" data-show-count="true" data-size="large" data-lang="en">Follow @themanual</a></p>
    </div>
  </div></section>
  <section class="footer__links l-line-t l-container"><div class="l-row">
    <div class="l-col-m-6 styled styled--tight">
      <p>Made possible by our generous patrons: <%= link_to "MailChimp", "http://mailchimp.com" %> and <%= link_to "Hover", "http://hover.com" %></p>
      <p>Licensed <%= link_to "CC BY-NC-SA 4.0", { controller: :about, action: :license } %> &middot; Version <%= link_to "0.3.0", { controller: :about, action: :releases } %></p>
    </div>
  </div></section>
</footer>