<header class="masthead <%= content_for(:site_header) %>">
  
  <%- if cookies[:hide_statement] != "1" %>
  <div class="masthead__statement l-block l-line-b">
    <p class="masthead__statement__wrapper">
      <span class="masthead__statement__text"><strong>The Manual</strong> is a design journal for the web, with thrice-yearly issues in print, ebook, audiobook, and online.</span>
      <span class="masthead__statement__close"><button class="btn-text">Hide</button></span>
    </p>
  </div>
  <%- end -%>

  <div class="masthead__header l-x"><div class="l-wrap">
    <%= link_to root_path, { class: "masthead__logo" } do -%>
      <%= inline_svg "identity/logo-text.svg" %>
    <%- end -%>
  </div></div>

  <nav class="masthead__nav l-x"><div class="l-wrap">
    <ul class="masthead__nav__items">
      <li class="masthead__nav__item">
        <%= link_to "Read",          read_path, class: page_is_subpath_of('/read', 'current') %>
      </li><li class="masthead__nav__item">
        <%= link_to_current "Buy",   shop_path, rel: "external" %>
      </li><li class="masthead__nav__item">
        <%= link_to_current "About", about_path, class: page_is_subpath_of('/about', 'current') %>
      </li><li class="masthead__nav__item">
        <%= link_to_current "Blog",  blog_path, rel: "external" %>
      </li><%- if user_signed_in? -%><li class="masthead__nav__item">
        <%= link_to_current "Account",  account_path, class: page_is_subpath_of('/account', 'current') %>
      </li><%- end -%></ul>
  </div></nav>

  <!-- <div class="masthead__feature"><a href="/">
    <div class="masthead__feature__text">
      <p class="t-sc-light h-spacing">Latest Issue</p>
      <h2 class="masthead__feature__text__title">Issue 4</h2>
      <p class="masthead__feature__text__micro">Buy in print, ebook, audiobook, and read online.</p>
    </div>
    <figure class="masthead__feature__picture">
      <%= image_tag 'covers/issue-4-cover-mockup-400w.png' %>
    </figure>
  </a></div> -->

</header>