<%- unless current_page?(root_path) %>
<aside class="site-announcement kickstarter"><div>
  <p>This is a preview of The Manual’s upcoming website.</p>
  <p><a href="<%= kickstarter_url %>" rel="external" class="button">Visit our Kickstarter project</a></p>
</div></aside>
<%- end %>
<header class="site-menu site-header"><div>
  <h1 class="site-header-home">
    <%= link_to_current "The Manual", root_path, class: "site-header-logo" %>
  </h1>
  <nav class="site-header-nav">
    <ul>
      <li><%= link_to "Read",   read_path,  class: page_is_subpath_of('/read', 'current') %></li>
      <li><%= link_to "Shop",   legacy_store_issue_url,  class: "external", rel: "external" %></li>
      <!--<li><%= link_to "About",  about_path, class: page_is_subpath_of('/about', 'current') %></li>-->
    </ul>
  </nav>
</div></header>