<%- content_for(:logo) { "issue-#{@piece.issue.number}" } -%>

<article class="piece is-<%= @piece.type %> issue-<%= @piece.issue.number %> l-block hentry"><div>
  <%- cache [@issue, @piece, :header] do -%>
  <header class="piece-header">
    <% if @piece.illustrator.present? %>
    <div class="piece-header-illustration">
      <figure class="entry-content-asset">
        <%= render partial: 'pieces/piece_illo', locals: { piece: @piece, sizes: "(min-width: 850px) 27em, 100vw" } %>
      </figure>
    </div>
    <% end %>

    <div class="piece-header-text">
      <p class="piece-header-author byline vcard"><span class="fn author" rel="author"><%= @author.name %></span></p>
      <h1 class="piece-header-title entry-title"><%= @piece.title %></h1>
      <h2 class="piece-header-synopsis entry-summary"><%= @piece.synopsis %></h2>
      <p class="piece-unit-metadata">
        <span class="piece-unit-silo">In <%= link_to "Issue #{@piece.issue.number}", issue_path(issue: @piece.issue.number) %></span>
        <span class="piece-unit-topics"><%= render partial: "pieces/piece_topics", locals: { piece: @piece } %></span>
      </p>
    </div>
  </header>
  <%- end -%>

  <%- if current_user.can?(:read, @piece) -%>
  
    <%- cache [@issue, @piece, :body] { -%>
    <div class="piece-body l-col-reading entry-content l-mm c-issue">
      <%=raw markdown(@piece.body) %>
    </div>
    <%- } -%>

    <%- cache [@piece, @author] { -%>
    <footer class="piece-author l-col-reading c-issue">
      <figure class="piece-author-portrait">
        <%= portrait_tag(@piece) %>
      </figure>
      <div class="piece-author-bio styled">
        <%= raw markdown(bio_with_twitter(@author)) %>
        <p>
          <%= link_to piece_path(@piece.companion.issue.number, @piece.companion.author_slug, @piece.companion.class.name.underscore.to_sym), class: "btn btn-sc" do %>
            Read Next: <%= @author.name.possessive %> <%= @piece.companion.type.titleize %>
          <% end %>
        </p>
        <%- if @piece.illustrator.present? || @piece.issue.portrait_illustrator.present? -%>
        <p class="piece-illustrator">
        <%- illustrators = [] -%>
        <%- illustrators << "Illustration by #{@piece.illustrator.titlecase}" if @piece.illustrator.present? -%>
        <%- illustrators << "Portrait by #{@piece.issue.portrait_illustrator}" if @piece.issue.portrait_illustrator.present? -%>
        <%= illustrators.join(" · ") %>
        </p>
        <%- end -%>
      </div>
    </footer>
    <%- } -%>

  <%- else -%>
    <div class="l-col-reading entry-content l-mm c-issue">
      <div class="callout">
        <h2 class="callout-title">This <%= @piece.type %> is in preview for subscribers.</h2>
        <div class="callout-body">
          <%- formats = ['Print'] + @issue.downloads.map(&:medium).uniq.reverse -%>
          <p>However, you can <%= link_to "buy Issue #{@issue.number} from our store",store_path(@issue.code) %> and read it in <%= formats.to_sentence.downcase %> <%= formats.size > 1 ? "editions" : "edition" %>. Check back soon as we open up access to our web edition.</p>
          <p><strong>Already a subscriber?</strong> <%= link_to "Log in", login_and_return_path %> to read this <%= @piece.type %> and all others from <%= link_to @issue.name, issue_path(@issue.number) %>.</p>
        </div>
      </div>
    </div>
  <%- end -%>
</div></article>

<% cache [@piece, 'explore'], expires_in: 30.minutes do %>
<aside class="l-block piece-post l-line-t"><div>

  <section class="piece-post-issue issue-<%= @piece.issue.number %> c-issue">
    <h2 class="h-sc h-sc-spaced">Part of <%= link_to "Issue #{@piece.issue.number}", issue_path(@piece.issue.number) %></h2>
    <div class="styled">
      <ul class="plain">
      <% @piece.issue.authors.each do |author| %>
        <%= content_tag :li, author.name, class: ('marker-arrow' if author == @author) %>
      <% end %>
      </ul>
      <p><%= link_to "Browse Issue #{@piece.issue.number}", issue_path(@piece.issue.number) %></p>
    </div>
  </section>

  <section class="piece-post-topics">
    <h2 class="h-sc h-sc-spaced">Related Topics</h2>
    <ul class="list-plain list-double topic-list">
    <% @piece.topics_upto(3).sort_by(&:name).each do |topic| %>
      <li>
        <h6 class="topic-list-name"><%= link_to(topic.name.titlecase, topic_path(topic: topic.name.downcase)) %></h6>
        <p class="topic-list-description"><strong><%= topic.taggings_count %></strong> pieces</p>
      </li>
    <% end %>
    </ul>
  </section>
  <section class="piece-post-piece">
    <h2 class="h-sc h-sc-spaced">
      From Our <%= link_to "Staff Picks", staffpicks_path, class: "c-issue-#{@piece.recommended.issue.number}" %>
    </h2>
    <%= render @piece.recommended %>
  </section>
</div></aside>
<% end %>

<% content_for :jquery do %>
$('.piece-body').footnotes();
<% end %>
