<%- content_for(:logo) { "issue-#{@piece.issue.number}" } -%>

<article class="piece is-<%= @piece.type %> issue-<%= @piece.issue.number %> c-issue l-block hentry"><div>
  <%- cache [@issue, @piece, :header] do -%>
  <header class="piece-header">
    <% if @piece.illustrator.present? %>
    <div class="piece-header-illustration">
      <figure class="entry-content-asset">
        <%=
        tag "img",
            sizes: "(min-width: 850px) 27em, 100vw",
            srcset: srcset(base: @piece.illo_basepath, format: "jpg", sizes: %w(300 500 750 1000 1500))
        %>
      </figure>
    </div>
    <% end %>

    <div class="piece-header-text">
      <p class="piece-header-author byline vcard"><span class="fn author" rel="author"><%= @author.name %></span></p>
      <h1 class="piece-header-title entry-title"><%= @piece.title %></h1>
      <h2 class="piece-header-synopsis entry-summary"><%= @piece.synopsis %></h2>
      <p class="piece-header-metadata">
        <span class="piece-header-silo">In <%= link_to "Issue #{@piece.issue.number}", issue_path(issue: @piece.issue.number) %></span>
        <span class="piece-header-topics"><%= render partial: "pieces/piece_topics", locals: { piece: @piece } %></span>
      </p>
    </div>
  </header>
  <%- end -%>
  
  <aside class="l-col-reading callout">
    <h2 class="callout-title">A message from Andy McMillan, our publisher:</h2>
    <div class="callout-body">
      <p>This <%= @piece.type %> you’re about to read is part of Issue <%= @piece.issue.number %> of The Manual.</p>
      <p>Previously print-only, <strong>we’re now publishing our issues online for free</strong> under a Creative Commons license, so that we can better contribute to the conversation on designing for the web. However, <strong>we need your support to keep our issues online for free</strong> and to pay our writers, illustrators, and staff for their wonderful work.</p>
      <p><%= link_to "Please back our Kickstarter", kickstarter_path %> to keep our issues online for free. </p>
      <p>Enjoy this <%= @piece.type %>, and thank you for reading.</p>
    </div>
    <%= render partial: "shared/kickstarter" %>
  </aside>
  
  <%- cache [@issue, @piece, :body] do -%>
  <div class="piece-body l-col-reading entry-content l-mm">
    <%=raw markdown(@piece.body) %>
  </div>
  <%- end -%>

  <aside class="l-col-reading callout">
    <h2 class="callout-title">Enjoyed this <%= @piece.type %>? Please consider supporting us.</h2>
    <div class="callout-body">
      <p><%= link_to "Back our Kickstarter project", kickstarter_path, class: "button is-large t-strong" %> <span class="br-s">and keep our issues online for free.</span></p>
    </div>
  </aside>

  <%- track_link('.callout-body a', 'Clicked Kickstarter Button (Piece Callout)') -%>

  <%- cache [@piece, @author] do -%>
  <footer class="piece-author l-col-reading">
    <figure class="piece-author-portrait">
      <%= portrait_tag(@piece) %>
    </figure>
    <div class="piece-author-bio text">
      <%= raw markdown(@author.bio) %>
      <p>
        <%= link_to piece_path(@piece.companion.issue.number, @piece.companion.author_slug, @piece.companion.class.name.underscore.to_sym), class: "button in-sc is-small" do %>
          Read Next: <%= @author.name.possessive %> <%= @piece.companion.type.titleize %>
        <% end %>
      </p>
      <%- track_link('.piece-author-bio a.button', 'Clicked Read Companion Piece') -%>
      <%- if @piece.illustrator.present? || @piece.issue.portrait_illustrator.present? -%>
      <p class="piece-illustrator">
      <%- illustrators = [] -%>
      <%- illustrators << "Illustration by #{@piece.illustrator.titlecase}" if @piece.illustrator.present? -%>
      <%- illustrators << "Portrait by #{@piece.issue.portrait_illustrator}" if @piece.issue.portrait_illustrator.present? -%>
      <%= illustrators.join(" · ") %>
      </p>
      <%- end -%>
    </div>
  </footer>
  <%- end -%>
</div></article>

<% cache [@piece, 'explore'], expires_in: 30.minutes do %>
<aside class="l-block piece-post l-line-t"><div>
  <section class="piece-post-issue issue-<%= @piece.issue.number %> c-issue">
    <h2 class="box-title is-spaced">Part of <%= link_to "Issue #{@piece.issue.number}", issue_path(@piece.issue.number) %></h2>
    <div class="text">
      <ul class="plain">
      <% @piece.issue.authors.each do |author| %>
        <%= content_tag :li, author.name, class: ('marker-arrow' if author == @author) %>
      <% end %>
      </ul>
      <p><%= link_to "Browse this issue", issue_path(@piece.issue.number) %></p>
    </div>
  </section>
  <section class="piece-post-topics">
    <h2 class="box-title is-spaced">Related Topics</h2>
    <div class="text">
      <ul class="plain looser topic-list">
      <% @piece.topics_upto(3).sort_by(&:name).each do |topic| %>
        <li>
          <h5 class="topic-list-name"><%= link_to(topic.name.titlecase, topic_path(topic: topic.name.downcase)) %></h5>
          <p class="topic-list-description"><strong><%= topic.taggings_count %></strong> pieces</p>
        </li>
      <% end %>
      </ul>
    </div>
  </section>
  <section class="piece-post-piece">
    <h2 class="box-title is-spaced">From Our <%= link_to "Staff Picks", staffpicks_path, class: "c-issue-#{@piece.recommended.issue.number}" %></h2>
    <%= render @piece.recommended %>
  </section>
</div></aside>
<% end %>

<% content_for :jquery do %>
$('.piece-body').footnotes();
<% end %>