<%- content_for :head do -%>
<script>
  var _sf_async_config = _sf_async_config || {};
  _sf_async_config.title = "<%= #{@piece.title}, by #{@piece.author.name} %>";
  _sf_async_config.sections = "<%= @piece.enabled_topics.map(&:name).map(&:titlecase).push("Issue #{ @piece.issue_number }").join(", ") %>";
  _sf_async_config.authors = "<%= @piece.author.name %>";
</script>
<%- end if Rails.env.production? -%>

<% cache @piece do %>
<article class="piece is-<%= @piece.type.downcase %> issue-<%= @piece.issue_number %> c-issue l-block hentry"><div>

  <header class="piece-header">
    <% if @piece.illustrator.present? %>
    <div class="piece-header-illustration">
      <figure class="entry-content-asset">
        <%=
        tag "img",
            sizes: "(min-width: 850px) 27em, 100vw",
            srcset: srcset(base: @piece.illo_basepath, format: "jpg", sizes: %w(300 500 750 1000 1500))
        %>
      </figure>
    </div>
    <% end %>

    <div class="piece-header-text">
      <p class="piece-header-author byline vcard"><span class="fn author" rel="author"><%= @piece.author.name %></span></p>
      <h1 class="piece-header-title entry-title"><%= @piece.title %></h1>
      <h2 class="piece-header-synopsis entry-summary"><%= @piece.synopsis %></h2>
      <p class="piece-header-metadata">
        <span class="piece-header-silo">In <%= link_to "Issue #{@piece.issue_number}", issue_path(issue: @piece.issue_number) %></span>
        <%= topic_links_for(@piece, :span, class: 'piece-header-topics') %>
      </p>
    </div>
  </header>

  <div class="piece-body l-col-reading entry-content">
    <%=raw Kramdown::Document.new(@piece.body).to_html %>
  </div>

  <footer class="piece-author l-col-reading">
    <figure class="piece-author-portrait">
      <%= portrait_tag(@piece) %>
    </figure>
    <div class="piece-author-bio text">
      <%=raw Kramdown::Document.new(@piece.author.bio).to_html %>
      <p>
        <%= link_to piece_path(@companion.issue.number, @companion.author_slug, @companion.class.name.underscore.to_sym), class: "button in-sc is-small" do %>
          Read Next: <%= @piece.author.name.given_name.possessive %> <%= @companion.type %>
        <% end %>
      </p>
      <%- if @piece.illustrator.present? #|| @piece.issue.portrait_illustrator.present? -%>
      <p class="piece-illustrator">
      <%- illustrators = [] -%>
      <%- illustrators << "Illustration by #{@piece.illustrator.titlecase}" if @piece.illustrator.present? -%>
      <%# illustrators << "Portrait by #{@piece.portrait_illustrator}" if @piece.portrait_illustrator.present? -%>
      <%= illustrators.join(" &middot;") %>
      </p>
      <%- end -%>
    </div>
  </footer>

</div></article>
<% end %>

<% cache [@piece, 'explore'], expires_in: 30.minutes do %>
<aside class="l-block piece-post"><div>
  <section class="piece-post-issue issue-<%= @piece.issue_number %> c-issue">
    <h2 class="box-title is-spaced">Part of <%= link_to "Issue #{@piece.issue_number}", issue_path(@piece.issue_number) %></h2>
    <div class="text">
      <ul class="plain">
      <% @piece.issue.authors.each do |author| %>
        <%= content_tag :li, author.name, class: ('marker-arrow' if author == @piece.author) %>
      <% end %>
      </ul>
      <p><%= link_to "Browse this issue", issue_path(@piece.issue_number) %></p>
    </div>
  </section>
  <section class="piece-post-topics">
    <h2 class="box-title is-spaced">Related Topics</h2>
    <div class="text">
      <ul class="plain looser topic-list">
      <%  @piece.enabled_topics.each do |topic| %>
        <li>
          <h5 class="topic-list-name"><%= link_to(topic.name.titlecase, topic_path(topic: topic.name.downcase)) %></h5>
          <p class="topic-list-description"><strong><%= topic.taggings_count %></strong> pieces</p>
        </li>
      <% end %>
      </ul>
    </div>
  </section>
  <section class="piece-post-piece">
    <%- @recommended_piece = @piece.recommended -%>
    <h2 class="box-title is-spaced">From Our <%= link_to "Staff Picks", staffpicks_path, class: "c-issue-#{@recommended_piece.issue_number}" %></h2>
    <div>
    <%= render :partial => 'shared/units/piece', :object  => @recommended_piece %>
    </div>
  </section>
</div></aside>
<% end %>

<aside class="support bg-gray l-line-t"><div>
  <div class="support-illo">
    <figure>
      <%= image_tag "misc/kickstarter.svg", alt: "" %>
    </figure>
  </div>
  <div class="support-text text t-big kickstarter">
    <h4>Enjoyed this piece? Support us on Kickstarter.</h4>
    <p><strong>We’re an independent pay-if-you-want publication.</strong> Become a subscriber or buy previous issues, and help us continue making our online editions freely available. Thank you.</p>
    <p>
      <%= link_to "Subscribe via Kickstarter", kickstarter_url, class: "button is-large external", rel: "external" %>
      <span class="br-s">or</span>
      <%= link_to "shop our print editions", shop_path %>
    </p>
  </div>
</div></aside>

<% content_for :footer do %>
<script>$(function() { $('.piece-body').footnotes(); });</script>
<% end %>
