<div class="navgroup">
  <h2 class="navgroup-title">About</h2>
  <ul class="navgroup-items">
    <li><%= link_to_current "The Manual", {:action => 'index'} %></li>
    <li><%= link_to_current "History",    {:action => 'history'} %></li>
    <li><%= link_to_current "Team",       {:action => 'team'} %></li>
  </ul>
  <h2 class="navgroup-title">Details</h2>
  <ul class="navgroup-items">
    <li><%= link_to_current "Credits",  {:action => 'credits'} %></li>
    <li><%= link_to_current "License",  {:action => 'license'} %></li>
  </ul>
</div>