<% include_payment_assets %>

<main>
  <header class="l-divider-bottom bg-gray"><div class="l-col l-pad-x-yy text">
    <h1>Subscription Payment</h1>
  </div></header>

  <section class="l-col l-pad-x-yy">
    <%= form_for @user, url: subscribe_path, html: {method: :post, class: "form payment-form", autocomplete: :on, novalidate: :novalidate } do |f| %>
      <input type="hidden" name="stripe_token" value="" />
      <!-- HIDDEN FIELD FOR NOW - MR -->
      <input type="hidden" name="tier" value="<%= @tier %>" />
      <!--<span class="payment-errors"></span>-->

      <fieldset class="form-section">
        <h2 class="form-heading">Personal Information</h2>
        <p class="form-subheading">Use your own name, even if different from the credit card. Email will be your login.</p>

        <div class="l-units">

          <div class="l-unit-s-half">
            <dl class="field l-units">
              <dt class="l-unit-fill"><%= f.label :first_name, 'Name' %></dt>
              <dd class="l-unit-half">
                <%= f.text_field :first_name, class: 'is-long', placeholder: 'First', required: true, autofocus: true %>
              </dd>
              <dd class="l-unit-half">
                <%= f.text_field :last_name, class: 'is-long', placeholder: 'Last', required: true, autofocus: true %>
              </dd>
            </dl>
          </div>

          <dl class="field l-unit-s-half">
            <dt><%= f.label :email %></dt>
            <dd><%= f.email_field :email, class: 'is-long', placeholder: 'yourname@domain.com', required: true %></dd>
          </dl>
        </div>
      </fieldset>

      <% if Subscription::TIERS[@tier][:shipping] %>
      <fieldset class="form-section">
        <h2 class="form-heading">Shipping Address</h2>
        <%= f.fields_for :addresses, @user.addresses.new do |a| %>

        <dl class="field">
          <dt>
            <%= a.label :lines, 'Street, Number' %>
            <small class="label-note">You may include company or office name</small>
          </dt>
          <dd>
            <%= a.text_area :lines, required: true, class: 'is-long noresize', spellcheck: false, rows: 3, :'data-shipping-address' => 'lines' %>
          </dd>
        </dl>

        <div class="l-units">
          <dl class="field l-unit-s-half">
            <dt><%= a.label :city %></dt>
            <dd><%= a.text_field :city, required: true, class: 'is-long', :'data-shipping-address' => 'city' %></dd>
          </dl>

          <dl class="field l-unit-s-half">
            <dt><%= a.label :region %></dt>
            <dd><%= a.text_field :region, class: 'is-long', placeholder: 'optional', :'data-shipping-address' => 'region' %></dd>
          </dl>

          <dl class="field l-unit-s-half">
            <dt><%= a.label :post_code %></dt>
            <dd><%= a.text_field :post_code, class: 'is-long', required: true, :'data-shipping-address' => 'post_code' %></dd>
          </dl>

          <dl class="field l-unit-s-half">
            <dt><%= a.label :country_id %></dt>
            <dd class="select"><%= custom_country_select a, :country_id, required: true, class: 'is-long fill-on-load', :'data-shipping-address' => 'country' %></dd>
          </dl>
        </div>
      	<% end %>
      </fieldset>
      <% end %>

      <fieldset class="form-section">
        <h2 class="form-heading">Payment</h2>
        <p class="form-subheading">All payment and card information is handled by <a href="https://stripe.com/" rel="external" title="Read more about Stripe">Stripe</a> over a secure connection.</p>

        <div class="l-units">
          <dl class="field l-unit-fourth">
            <dt class="label">Tier</dt>
            <dd class="value is-long"><%= Subscription::TIERS[@tier][:name] %></dd>
          </dl>
          <dl class="field l-unit-fourth">
            <dt class="label">Price</dt>
            <dd class="value is-long" data-shipping-cost="subtotal">$<%= Subscription::TIERS[@tier][:price] %></dd>
          </dl>
          <dl class="field l-unit-fourth">
            <dt class="label">Shipping</dt>
            <dd class="value is-long" data-shipping-cost="shipping"><%= Subscription::TIERS[@tier][:shipping] ? '...' : '$0' %></dd>
          </dl>
          <dl class="field l-unit-fourth">
            <dt class="label">Total</dt>
            <dd class="value is-long" data-shipping-cost="total"><%= Subscription::TIERS[@tier][:shipping] ? '...' : "$#{Subscription::TIERS[@tier][:price]}" %></dd>
          </dl>
        </div>

        <div class="l-units">
          <dl class="field l-unit-s-half">
            <dt><label for="user_cc-number">Card Number</label></dt>
            <dd>
              <input required id="user_cc-number" type="text" size="20" name="cc-number" class="cc-number is-long" autocompletetype="cc-number" placeholder="#### #### #### ####" pattern="\d*" />
              <small class="label-note">Test with 4242 4242 4242 4242</small>
            </dd>
          </dl>

          <dl class="field l-unit-half l-unit-s-fourth">
            <dt><label for="user_cc-exp">Expiration</label></dt>
            <dd>
              <input id="user_cc-exp" required type="text" name="cc-exp" class="cc-exp is-long" autocompletetype="cc-exp"  placeholder="MM / YY" pattern="\d*" value="" />
              <small class="label-note">Any future date</small>
            </dd>
          </dl>

          <dl class="field l-unit-half l-unit-s-fourth">
            <dt><label for="user_cc-cvc">Code</label></dt>
            <dd>
              <input required type="text" id="user_cc-cvc" name="cc-cvc" class="cc-csc is-long" autocomplete="off" autocompletetype="cc-csc" placeholder="###" pattern="\d*" value=""/>
              <small class="label-note">Any code</small>
            </dd>
          </dl>
        </div>
      </fieldset>

      <div class="form-section">
        <h2 class="form-heading">Choose your starting issue</h2>
        <p class="form-subheading"><span class="highlight">You’ll be <strong>immediately charged</strong> <strong data-shipping-cost="total" data-loadingdots-word=""></strong> for your choice of Issue <%= @latest.number %> or <%= @latest.next.number %></span></p>

        <dl class="field field-close l-units">
          <dd class="l-unit-s-half checkradio">
            <input type="radio" name="user-start" id="user-start-now" checked="checked" />
            <label for="user-start-now">
              <strong>Issue <%= @latest.number %></strong>, which you’ll get immediately
              <small class="label-note">We’ll charge you again in <%= due_on @latest.next %> for Issue <%= @latest.next.number %></small>
            </label>
          </dd>
          <dd class="l-unit-s-half checkradio">
            <input type="radio" name="user-start" id="user-start-next" />
            <label for="user-start-next">
              <strong>Issue <%= @latest.next.number %></strong>, which you’ll get in <%= due_on @latest.next %>
              <small class="label-note">We’ll only charge you again in <%= due_on @latest.next.next %> for Issue <%= @latest.next.next.number %></small>
            </label>
          </dd>
        </dl>
      </div>

      <div class="form-actions">
        <!--<p class="form-message">Your credit card will be charged <span data-shipping-cost="total"></span> immediately.</p>-->
        <input type="submit" value="Subscribe to The Manual" data-disable-with="Processing..." class="button">
      </div>
    <% end %>
  </section>
</main>
