<main class=""><div>

  <header class="l-wrapper heading"><div class="l-singlecol-centered">
    <h1>Subscribe to The Manual</h1>
    <p>We’re an independent publication, and we rely on our readers for support. We pay our writers and illustrators well for their work, and none of our editions contain any advertising.</p>
  </div></header>

  <section class="subscribe-tiers l-padded-h">
    <ul class="l-grid subscribe-tiers-list">
      <li class="l-grid-unit-third subscribe-tier animated fadeInLeft">
        <div class="subscribe-tier-heading">
          <h2 class="subscribe-tier-name">Digital</h2>
          <h3 class="subscribe-tier-price"><span class="currency">$</span><%= Subscription::TIERS[:digital][:price] %></h3>
        </div>
        <p class="subscribe-tier-note">per issue<a href="#shipping" class="footnote">*</a></p>
        <ul class="subscribe-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li><span class="striked">Print edition (A5 hardbound book)</span></li>
          <li><span class="striked">Exclusive gift with each issue</span></li>
          <li><span class="striked">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_subscribe_path(:digital) %>" class="button">Subscribe to Digital</a>
      </li>

      <li class="l-grid-unit-third subscribe-tier animated fadeInUp">
        <div class="subscribe-tier-heading">
          <h2 class="subscribe-tier-name">Print</h2>
          <h3 class="subscribe-tier-price"><span class="currency">$</span><%= Subscription::TIERS[:print][:price] %></h3>
        </div>
        <p class="subscribe-tier-note">per Issue + <span data-shipping="cost"></span> shipping<a href="#shipping" class="footnote">*</a></p>
        <ul class="subscribe-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li><span class="">Print edition (A5 hardbound book)</span></li>
          <li><span class="striked">Exclusive gift with each issue</span></li>
          <li><span class="striked">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_subscribe_path(:print) %>" class="button">Subscribe to Print</a>
      </li>

      <li class="l-grid-unit-third subscribe-tier animated fadeInRight">
        <div class="subscribe-tier-heading">
          <h2 class="subscribe-tier-name">Patron</h2>
          <h3 class="subscribe-tier-price"><span class="currency">$</span><%= Subscription::TIERS[:patron][:price] %></h3>
        </div>
        <p class="subscribe-tier-note">per Issue + <span data-shipping="cost"></span> shipping<a href="#shipping" class="footnote">*</a></p>
        <ul class="subscribe-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li>Print edition (A5 hardbound book)</li>
          <li><span class="">Exclusive gift with each issue</span></li>
          <li><span class="">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_subscribe_path(:patron) %>" class="button">Become a Patron</a>
      </li>
    </ul>
  </section>

  <p class="subscribe-notes" id="shipping">
    <span class="subscribe-notes-mark">*</span> The Manual publishes three issues per year. <span data-shipping="message">Exact shipping cost can only be calculated at checkout.</span></p>

  </section>

</div></main>

<% content_for :footer do %>
<script>$(function() {

  $('.subscribe-tier a.footnote').click(function() {
    var $shipping = $("#shipping");
    $.scrollTo($shipping, {
      duration: 250,
      onAfter: function() {
        $shipping.animatecss('flash');
      }
    });
    return false;
  });

  $.getEstimatedShippingCost({}, function(data){
    if (data.status == 'ok' && 'cost' in data.response && 'ip_country_name' in data.response) {
      // Update cost
      var cost = Number(data.response.cost).toFixed();
      $('[data-shipping="cost"]').animatecss('flash').html(prefixCurrency(cost));
      // Update message
      message = 'Estimated shipping cost for ' + data.response.ip_country_name + ', exact cost will be calculated at checkout.';
      $('[data-shipping="message"]').animatecss('fadeIn').text(message);
    }
  });
});</script>
<% end %>
