<main><div>

  <header class="page-header"><div>
    <h1>Subscribe to The Manual</h1>
  </div></header>

  <section class="l-line l-container"><div>
    <ul class="subscribe-tiers">

      <li class="l-col-xl-third l-pp subscribe-tier animated fadeInLeft">
        <div class="subscribe-tier-heading">
          <h2 class="subscribe-tier-name"><%= Subscription::TIERS[:digital][:name] %></h2>
          <h3 class="subscribe-tier-price"><span class="currency">$</span><%= Subscription::TIERS[:digital][:price] %></h3>
        </div>
        <p class="subscribe-tier-note">per issue</p>
        <ul class="subscribe-tier-rewards">
          <li>Early online/digital access to issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li><span class="striked">Print edition (A5 hardbound book)</span></li>
          <li><span class="striked">Exclusive gift with each issue</span></li>
          <li><span class="striked">Listed as a patron in the issue</span></li>
        </ul>
        <a href="<%= checkout_subscribe_path(:digital) %>" class="button in-sc">Subscribe to Digital</a>
      </li>

      <li class="l-col-xl-third l-pp subscribe-tier animated fadeInUp">
        <div class="subscribe-tier-heading">
          <h2 class="subscribe-tier-name"><%= Subscription::TIERS[:print][:name] %></h2>
          <h3 class="subscribe-tier-price"><span class="currency">$</span><%= Subscription::TIERS[:print][:price] %></h3>
        </div>
        <p class="subscribe-tier-note">per Issue + <span data-shipping="cost"></span> shipping<a href="#shipping" class="footnote">*</a></p>
        <ul class="subscribe-tier-rewards">
          <li>Early online/digital access to issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li><span>Print edition (A5 hardbound book)</span></li>
          <li><span class="striked">Exclusive gift with each issue</span></li>
          <li><span class="striked">Listed as a patron in the issue</span></li>
        </ul>
        <a href="<%= checkout_subscribe_path(:print) %>" class="button in-sc">Subscribe to Print</a>
      </li>

      <li class="l-col-xl-third l-pp subscribe-tier animated fadeInRight">
        <div class="subscribe-tier-heading">
          <h2 class="subscribe-tier-name"><%= Subscription::TIERS[:patron][:name] %></h2>
          <h3 class="subscribe-tier-price"><span class="currency">$</span><%= Subscription::TIERS[:patron][:price] %></h3>
        </div>
        <p class="subscribe-tier-note">per Issue + <span data-shipping="cost"></span> shipping<a href="#shipping" class="footnote">*</a></p>
        <ul class="subscribe-tier-rewards">
          <li>Early online/digital access to issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li>Print edition (A5 hardbound book)</li>
          <li><span>Exclusive gift with each issue</span></li>
          <li><span>Listed as a patron in the issue</span></li>
        </ul>
        <a href="<%= checkout_subscribe_path(:patron) %>" class="button in-sc">Become a Patron</a>
      </li>
    </ul>
    <p class="subscribe-notes" id="shipping">
      <span class="subscribe-notes-mark">*</span> <span data-shipping="message">Exact shipping cost can only be calculated at checkout.</span>
    </p>
  </div></section>

  <section class="styled l-col-single l-block l-pp">
    <ul class="faq">
      <li>
        <h4 class="faq-q">How early is the access to new issues?</h4>
        <div class="faq-a">
          <p>Only subscribers are able to read online and download digital editions of new issues while the print edition is being produced, which usually takes around one month.</p>
        </div>
      </li>

      <li>
        <h4 class="faq-q">How often do you publish new issues?</h4>
        <div class="faq-a">
          <p>Three times per year, on March, July, and November.</p>
        </div>
      </li>

      <li>
        <h4 class="faq-q">How long does a subscription last?</h4>
        <div class="faq-a">
          <p>Until you cancel it, and we’ll email you in advance before charging for each new issue.</p>
        </div>
      </li>

      <li>
        <h4 class="faq-q">Can’t I buy just one issue instead?</h4>
        <div class="faq-a">
          <p>Yes, you can buy single issues and issue collections from <%= link_to "our store", shop_path %>.</p>
        </div>
      </li>

    </ul>
  </section>


  </section>

</div></main>

<% content_for :jquery do %>
$('.subscribe-tier a.footnote').click(function() {
  var $shipping = $("#shipping");
  $.scrollTo($shipping, {
    duration: 250,
    onAfter: function() {
      $shipping.animatecss('flash');
    }
  });
  return false;
});

$.getEstimatedShippingCost({}, function(data){
  if (data.status == 'ok' && 'cost' in data.response && 'ip_country_name' in data.response) {
    // Update cost
    var cost = Number(data.response.cost).toFixed();
    $('[data-shipping="cost"]').animatecss('flash').html(prefixCurrency(cost));
    // Update message
    message = 'Estimated shipping cost for ' + data.response.ip_country_name + ', exact cost will be calculated at checkout.';
    $('[data-shipping="message"]').animatecss('fadeIn').text(message);
  }
});
<% end %>