<% payment_assets %>
<main class="l-padded"><div>

  <header class="page-header is-centered">
    <h1>Become a supporter</h1>
    <p>We’re an independent publication. We pay all our writers and illustrators for their work, and our Ebook and Print Editions don’t contain advertisting. This means your contribution is fundamental to support The Manual and fund new issues.</p>
  </header>

  <section class="support">
    <header>

    </header>

    <ul class="support-tiers l-grid">

      <li class="l-grid-unit-third support-tier support-tier-digital">
        <div class="support-tier-header">
          <figure class="support-tier-image"><img src="http://placehold.it/550x350/ffffff/0055DD" alt=""></figure>
          <h2 class="support-tier-name">Digital</h2>
          <h3 class="support-tier-price"><span class="number"><span class="currency">$</span><span class="value">10</span><span class="plus">+</span></span> <small>per issue</small></h3>
        </div>
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li><span class="striked">Hardback shipped worldwide</span></li>
          <li><span class="striked">Name listed in issue’s colophon</span></li>
          <li><span class="striked">Limited edition gift with every issue</span></li>
        </ul>
        <div class="button-wrapper">
          <button class="button">Get Digital</button>
        </div>
      </li>

      <li class="l-grid-unit-third support-tier support-tier-digital-print">
        <div class="support-tier-header">
          <figure class="support-tier-image"><img src="http://placehold.it/550x350/ffffff/0055DD" alt=""></figure>
          <h2 class="support-tier-name">Digital + Print</h2>
          <h3 class="support-tier-price"><span class="number"><span class="currency">$</span><span class="value">20</span><span class="plus">+</span></span> <small>per issue</small></h3>
        </div>
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li><span class="highlight">Hardback shipped worldwide<sup class="footnote"><a href="#">*</a></sup></span></li>
          <li><span class="striked">Name listed in issue’s colophon</span></li>
          <li><span class="striked">Limited edition gift with every issue</span></li>
        </ul>
        <div class="button-wrapper">
          <button class="button">Get Digital + Print</button>
        </div>
      </li>

      <li class="l-grid-unit-third support-tier support-tier-friend">
        <div class="support-tier-header">
          <figure class="support-tier-image"><img src="http://placehold.it/550x350/ffffff/0055DD" alt=""></figure>
          <h2 class="support-tier-name">Friend</h2>
          <h3 class="support-tier-price"><span class="number"><span class="currency">$</span><span class="value">50</span><span class="plus">+</span></span> <small>per issue</small></h3>
        </div>
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li>Hardback shipped worldwide<sup class="footnote"><a href="#">*</a></sup></li>
          <li><span class="highlight">Name listed in issue’s colophon</span></li>
          <li><span class="highlight">Limited edition gift with every issue<sup class="footnote"><a href="#">&dagger;</a></sup></span></li>
        </ul>
        <div class="button-wrapper">
          <button class="button">Become a Friend</button>
        </div>
      </li>
    </ul>

    <div class="support-benefits l-singlecol-centered">
      <h3 class="support-benefits-title"><span class="highlight">All supporters also get</span></h3>
      <ul class="support-benefits-list">
        <li>Access to Web and Ebook editions of new issues before they’re released to general public.</li>
        <li>Supporters-only email newsletter, where we’ll share progress updates from making The Manual, announce writers of forthcoming issues, reveal new illustration work, and more.</li>
      </ul>
    </div>
  </section>

  <%= form_for @user, url: support_path, html: {method: :post, class: "stripe-form form payment-form", autocomplete: :on, novalidate: :novalidate } do |f| %>
    <input type="hidden" name="stripe_token" value="" />
    <!--
    <span class="payment-errors"></span>

    <dl>
      <dt><label for="support-panel-form-price">$</label></dt>
      <dd><input type="number" id="support-panel-form-price" /></dd>
    </dl>-->

    <dl class="field">
      <dt>Choose your starting issue</dt>
      <dd class="field-checkradio is-half">
        <input type="radio" name="supporter-signup-start" id="supporter-signup-start-now" checked="checked" />
        <label for="supporter-signup-start-now"><strong>Issue <%= @latest.number %></strong>, our latest issue, which you’ll get immediately.</label>
        <p class="label-note">We’ll charge you again for Issue <%= @latest.next.number %>, due in <%= due_on @latest.next %>.</p>
      </dd>
      <dd class="field-checkradio is-half">
        <input type="radio" name="supporter-signup-start" id="supporter-signup-start-next" />
        <label for="supporter-signup-start-next"><strong>Issue <%= @latest.next.number %></strong>, our next issue, which you’ll get in <%= due_on @latest.next %>.</label>
        <span class="label-note">We’ll only charge you again for Issue <%= @latest.next.next.number %>, due in <%= due_on @latest.next.next %>.</span>
      </dd>
    </dl>

    <div class="field is-composed">
      <dl class="field-element is-composed is-half">
        <dt><label for="supporter-signup-first-name">Name</label></dt>
        <dd class="field-element is-half">
          <%= f.text_field :first_name, id: 'supporter-signup-first-name', class: 'is-long', placeholder: 'First', required: true %>
        </dd>
        <dd class="field-element is-half">
          <%= f.text_field :last_name, id: 'supporter-signup-last-name', class: 'is-long', placeholder: 'Last', required: true %>
        </dd>
      </dl>

      <dl class="field-element is-half">
        <dt><label for="supporter-signup-email">Email</label></dt>
        <dd><%= f.email_field :email, class: 'is-long', placeholder: 'yourname@domain.com', required: true, id: 'supporter-signup-email' %></dd>
      </dl>
    </div>

    <div class="field is-composed">
      <dl class="field-element is-half">
        <dt><label for="supporter-signup-cc-number">Card Number</label></dt>
        <dd><input required id="supporter-signup-cc-number" type="text" size="20" name="cc-number" class="cc-number is-long" placeholder="0000 0000 0000 0000" pattern="\d*" /></dd>
      </dl>

      <div class="field-element is-composed is-half">
        <dl class="field-element is-half">
          <dt><label for="supporter-signup-cc-cvc">CVC</label></dt>
          <dd><input required type="text" id="supporter-signup-cc-cvc" name="cc-cvc" class="cc-csc is-long" autocomplete="off" placeholder="" pattern="\d*" value=""/></dd>
        </dl>

        <dl class="field-element is-half">
          <dt><label for="supporter-signup-cc-exp">Expiration</label></dt>
          <dd><input id="supporter-signup-cc-exp" required type="text" name="cc-exp" class="cc-exp is-long"  placeholder="MM / YY" pattern="\d*" value="" /></dd>
        </dl>
      </div>

    </div>

    <!-- <div class="field">
      <div class="field-checkradio">
        <input type="checkbox" name="" id="supporter-signup-current-issue" />
        <label for="supporter-signup-current-issue">Start subscription on the most current issue</label>
        <span class="label-note">You’ll receive the latest published issue immediately, but you’ll be charged again for the following issue.</span>
      </div>
      <div class="field-checkradio">
        <input type="checkbox" name="" id="supporter-signup-current-issue" />
        <label for="supporter-signup-current-issue">Start subscription on the most current issue</label>
        <span class="label-note">You’ll receive the latest published issue immediately, but you’ll be charged again for the following issue.</span>
      </div>
    </div> -->


    <div class="form-actions">
      <button type="submit" class="button">Support The Manual</button>
    </div>

  <% end %>

</div></main>