<nav class="navigation navigation--secondary"><div>
  <ul class="navigation__list">
    <li><%= link_to_current "History",    {:action => 'history'} %></li>
    <li><%= link_to_current "Team",       {:action => 'team'} %></li>
    <li><%= link_to_current "Credits",    {:action => 'credits'} %></li>
    <li><%= link_to_current "License",    {:action => 'license'} %></li>
    <li><%= link_to_current "Releases",   {:action => 'releases'} %></li>
  </ul>
</div></nav>