<% push_page_title "Goods" %>
<% push_page_title "Store" %>

<main>
  <header class="l-pad-x-yy bg-gray"><div class="l-container text">
    <h1>Store</h1>
  </div></header>

  <nav class="l-pad-x l-divider bg-gray"><div class="sub-nav l-container">
    <ul class="sub-nav-list">
      <li><%= link_to "Featured",       {:action => 'featured'} %></li>
      <li><%= link_to "Subscription",  {:action => 'subscription'} %></li>
      <li><%= link_to "Issues",         {:action => 'issues' } %></li>
    </ul>
  </div></nav>

  <section id="issues" class="products l-wrapper-grid l-pad-yy">
    <div class="product l-col-fourth">
      <div class="product-shot">
        <figure>
          <%= image_tag 'http://placehold.it/500x250' %>
        </figure>
        <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
      </div>
      <h3 class="product-name">Volume I Case</h3>
      <div class="product-description">
        <p>Laser-engraved plywood case for Issues 1 to 3.</p>
      </div>
      <div class="product-buy">
        <div class="buy">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Case Only</h4>
            </div>
            <div class="buy-item-action">
              <a class="buy-item-button" href="#">
                <%= inline_svg 'ui/icon-plus.svg' %>
                <span class="currency">$</span><span class="value">30</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>