<% push_page_title "Issues" %>
<% push_page_title "Store" %>

<main>
  <header class="page-header"><div>
    <h1>Store</h1>
  </div></header>

  <nav class="l-p-x l-line bg-gray"><div class="sub-nav l-container">
    <ul class="sub-nav-list">
      <li><%= link_to "Featured",       {:action => 'featured'} %></li>
      <li><%= link_to "Annual Subscription",   {:action => 'subscription'} %></li>
      <li><%= link_to "Issues",         {:action => 'issues' }, :class => 'is-current'  %></li>
    </ul>
  </div></nav>

  <section id="featured" class="l-p-xyy l-line-b"><div class="l-grid">

    <article class="issue-4 l-col-half">
      <figure>
        <%= image_tag 'http://placehold.it/900x450/F5F5F5/FFFFFF' %>
      </figure>
      <h1 class="h3">Issue <span class="issue-number">4</span></h1>
      <div class="l-row">
        <div class="l-col-half text t-small-sans colored-links">
          <p>Our current issue contains articles and lessons from Wilson Miner, Craig Mod, Jennifer Brook, Diana Kimball, David Cole and Paul Ford.</p>
        </div>
        <div class="l-col-half buy t-small-sans">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="l-col-half">
      <figure class="product-shot">
        <%= image_tag 'http://placehold.it/900x450/F5F5F5/FFFFFF' %>
      </figure>
      <h1 class="h3">The Collection</h1>
      <div class="l-row">
        <div class="l-col-half text t-small-sans colored-links">
          <p>Our best deal if you’re new to The&nbsp;Manual, and the perfect complement to a <%= link_to "new subscription" ,action: :subscription %>, <span class="highlight">all 4 issues at 20% off.</span></p>
        </div>
        <div class="l-col-half t-small-sans buy">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">30</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">30</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">80</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div></section>

  <section id="issues" class="l-p-xyy "><div class="l-container">
    <header class="l-m-bb">
      <h2 class="h1-sc">All Individual Issues</h2>
    </header>
    <div class="l-row">
      <div class="l-col-fourth issue-4">
        <figure>
          <%= image_tag 'store/products/issue-4.png' %>
        </figure>
        <h3 class="h3">Issue <span class="issue-number">4</span></h3>
        <div class="text t-small-sans colored-links">
          <ul class="plain">
            <li>Wilson Miner</li>
            <li>Craig Mod</li>
            <li>Jennifer Brook</li>
            <li>Diana Kimball</li>
            <li>David Cole</li>
            <li>Paul Ford</li>
          </ul>
        </div>
        <div class="buy l-m-t t-small-sans">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="l-col-fourth issue-3">
        <figure>
          <%= image_tag 'store/products/issue-3.png' %>
        </figure>
        <h3 class="h3">Issue <span class="issue-number">3</span></h3>
        <div class="text t-small-sans colored-links">
          <ul class="plain">
            <li>Paul Soulellis</li>
            <li>Nina Stössinger</li>
            <li>Jeremy Keith</li>
            <li>Tiffani Jones Brown</li>
            <li>Duane King</li>
            <li>Ethan Marcotte</li>
          </ul>
        </div>
        <div class="buy l-m-t t-small-sans">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="l-col-fourth issue-2">
        <figure>
          <%= image_tag 'store/products/issue-2.png' %>
        </figure>
        <h3 class="h3">Issue <span class="issue-number">2</span></h3>
        <div class="text t-small-sans colored-links">
          <ul class="plain">
            <li>Alex Charchar</li>
            <li>Karen McGrane</li>
            <li>Trent Walton</li>
            <li>Josh Brewer</li>
            <li>Cennydd Bowles</li>
            <li>Mark Boulton</li>
          </ul>
        </div>
        <div class="buy t-small-sans l-m-t">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="l-col-fourth issue-1">
        <figure>
          <%= image_tag 'store/products/issue-1.png' %>
        </figure>
        <h3 class="h3">Issue <span class="issue-number">1</span></h3>
        <div class="text t-small-sans colored-links l-m-b">
          <ul class="plain">
            <li>Simon Collison</li>
            <li>Dan Rubin</li>
            <li>Liz Danzico</li>
            <li>Frank Chimero</li>
            <li>Jon Tan</li>
            <li>The Standardistas</li>
          </ul>
        </div>
        <div class="t-small-sans buy">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div></section>

  <footer class="l-p l-line-t bg-gray"><div class="l-grid text t-note">
    <div class="l-col-third" id="fn:shipping">
      <h5>Shipping</h5>
      <p class="unspaced" data-shipping="message">Shipping costs depend on shipping address and will be calculated at checkout.</p>
    </div>
    <div class="l-col-third">
      <h5>Digital Formats</h5>
      <p class="unspaced">Ebooks: DRM-Free ePub, Mobi, and PDF.</p>
      <p class="unspaced">Audiobooks: DRM-Free MP3 and M4B.</p>
    </div>
    <div class="l-col-third">
      <h5>Bulk Orders</h5>
      <p class="unspaced">We offer discounts on large orders. If you’re interested in 20+ issues in any format, <a href="mailto:hi@alwaysreadthemanual.com">email us.</a></p>
    </div>
  </div></footer>

</main>

