<% push_page_title "Issues" %>
<% push_page_title "Store" %>

<main>
  <header class="l-pad-x-yy bg-gray"><div class="l-container text">
    <h1>Store</h1>
  </div></header>

  <nav class="l-pad-x l-divider bg-gray"><div class="sub-nav l-container">
    <ul class="sub-nav-list">
      <li><%= link_to "Featured",       {:action => 'featured'} %></li>
      <li><%= link_to "Subscriptions",  {:action => 'subscriptions' } %></li>
      <li><%= link_to "Collections",    {:action => 'collections' } %></li>
      <li><%= link_to "Issues",         {:action => 'issues' }, :class => 'is-current'  %></li>
      <li><%= link_to "Goods",          {:action => 'goods' } %></li>
    </ul>
  </div></nav>

  <section id="featured-issue" class="featured-product issue-4 l-pad-x-yy"><div class="l-container">
    <div class="l-units">
      <div class="l-unit-third l-unit-shift-two-thirds featured-product-text">
        <h1 class="featured-product-name">Issue <span class="issue-number">4</span></h1>
        <div class="featured-product-description">
          <ul>
            <li>Wilson Miner</li>
            <li>Craig Mod</li>
            <li>Jennifer Brook</li>
            <li>Diana Kimball</li>
            <li>David Cole</li>
            <li>Paul Ford</li>
          </ul>
        </div>
        <div class="featured-product-buy">
          <div class="buy">
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Print &amp; Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">25</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Audiobook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></section>

  <section id="issues" class="products l-pad-x-yy"><div class="l-container">
    <header class="products-heading">
      <h2>All Issues</h2>
      <!--<p>Buying more than one? See our <a href="#">Collections</a></p>-->
    </header>
    <div class="l-row">
      <div class="product l-col-fourth issue-4">
        <div class="product-shot">
          <figure>
            <%= image_tag 'store/products/issue-4.png' %>
          </figure>
          <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
        </div>
        <h3 class="product-name">Issue <span class="issue-number">4</span></h3>
        <div class="product-description">
          <ul>
            <li>Wilson Miner</li>
            <li>Craig Mod</li>
            <li>Jennifer Brook</li>
            <li>Diana Kimball</li>
            <li>David Cole</li>
            <li>Paul Ford</li>
          </ul>
        </div>
        <div class="product-buy">
          <div class="buy">
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Print &amp; Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">25</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Audiobook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="product l-col-fourth issue-3">
        <div class="product-shot">
          <figure>
            <%= image_tag 'store/products/issue-3.png' %>
          </figure>
          <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
        </div>
        <h3 class="product-name">Issue <span class="issue-number">3</span></h3>
        <div class="product-description">
          <ul>
            <li>Paul Soulellis</li>
            <li>Nina Stössinger</li>
            <li>Jeremy Keith</li>
            <li>Tiffani Jones Brown</li>
            <li>Duane King</li>
            <li>Ethan Marcotte</li>
          </ul>
        </div>
        <div class="product-buy">
          <div class="buy">
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Print &amp; Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">25</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Audiobook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="product l-col-fourth issue-2">
        <div class="product-shot">
          <figure>
            <%= image_tag 'store/products/issue-2.png' %>
          </figure>
          <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
        </div>
        <h3 class="product-name">Issue <span class="issue-number">2</span></h3>
        <div class="product-description">
          <ul>
            <li>Alex Charchar</li>
            <li>Karen McGrane</li>
            <li>Trent Walton</li>
            <li>Josh Brewer</li>
            <li>Cennydd Bowles</li>
            <li>Mark Boulton</li>
          </ul>
        </div>
        <div class="product-buy">
          <div class="buy">
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Print &amp; Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">25</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Audiobook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="product l-col-fourth issue-1">
        <div class="product-shot">
          <figure>
            <%= image_tag 'store/products/issue-1.png' %>
          </figure>
          <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
        </div>
        <h3 class="product-name">Issue <span class="issue-number">1</span></h3>
        <div class="product-description">
          <ul>
            <li>Simon Collison</li>
            <li>Dan Rubin</li>
            <li>Liz Danzico</li>
            <li>Frank Chimero</li>
            <li>Jon Tan</li>
            <li>The Standardistas</li>
          </ul>
        </div>
        <div class="product-buy">
          <div class="buy">
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Print &amp; Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">25</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Ebook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
            <div class="buy-item">
              <div class="buy-item-text">
                <h4 class="buy-item-name">Audiobook</h4>
              </div>
              <div class="buy-item-action">
                <a class="buy-item-button" href="#">
                  <%= inline_svg 'ui/icon-plus.svg' %>
                  <span class="currency">$</span><span class="value">10</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div></section>

  <!--
  <section id="info" class="l-pad-x-yy l-divider-top"><div class="l-grid text">
    <div class="l-col-third" id="fn:shipping">
      <h4>Shipping</h4>
      <p data-shipping="message">Shipping costs depend on shipping address and will be calculated at checkout.</p>
    </div>
    <div class="l-col-third">
      <h4>Digital Formats</h4>
      <p>Ebooks come in ePub, Mobi, and PDF format. Audiobooks come in MP3 and M4B format. All files are DRM-free.</p>
    </div>
    <div class="l-col-third">
      <h4>Bulk Orders</h4>
      <p>We offer discounts on large orders. If you’re interested in buying more than 20 issues in any format, <a href="mailto:hi@alwaysreadthemanual.com">drop us a line.</a></p>
    </div>
  </div></section>
  -->

</main>

<% content_for :footer do %>
<script>$(function() {
  $("a[href='#fn:shipping']").click(function() {
    var $shipping = $("[id='fn:shipping']");
    $.scrollTo($shipping, {
      duration: 250,
      onAfter: function() {
        $shipping.animatecss('flash');
      }
    });
    return false;
  });

  $.getEstimatedShippingCost({}, function(data){
    if (data.status == 'ok' && 'cost' in data.response && 'ip_country_name' in data.response) {
      // Update cost
      var cost = Number(data.response.cost).toFixed();
      $('[data-shipping="cost"]').animatecss('flash').html(prefixCurrency(cost)+"&nbsp;");
      // Update message
      message = 'Shipping costs <span class="highlight">estimated for ' + data.response.ip_country_name + '.</span> Exact cost depends on shipping address and will be calculated at checkout.';
      $('[data-shipping="message"]').animatecss('fadeIn').html(message);
    }
  });
});</script>
<% end %>