<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <%= render partial: "shared/layout/head" %>
</head>
<body lang="en" class="<%= yield (:class_body) %>">

  <%= render partial: "shared/layout/header" %>

  <%- sidebar_present = page_namespace.in?(%w(read store about)) %>

  <section id="content" class="l-block <%= "has-sidebar" if sidebar_present %>"><div>

    <%- if title.any? %>
    <header class="page-header">
      <%- if @breadcrumb -%>
      <p><%= title.drop(1).reverse.join(" · ") %></p>
      <%- end -%>
      <h1><%= title.first %></h1>
      <% if sidebar_present %><button class="toggle-sidebar">Show/Hide Sidebar</button><% end %>
    </header>
    <% end %>

    <%- if sidebar_present %>
    <nav class="sidebar">
      <%= render partial: "shared/nav/#{page_namespace}" %>
    </nav>
    <%- end %>

    <main role="main" class="<%= yield (:class_main) %>">
      <%= yield %>
    </main>

  </div></section>

  <%= render partial: "shared/layout/footer" %>
  <%= render partial: "shared/layout/foot" %>
</body>
</html>