<!DOCTYPE html>
<html class="no-js">
<head>
  <%= render partial: "shared/layout/head" %>
</head>
<body lang="en">

  <%= render partial: "shared/layout/header" %>

  <main role="main" class="l-block <%= yield(:class_main) %> <%= page_namespace.in?(%w(read about)) ? "sidebar" : "no-sidebar" %>"><div>
    
    <%- if page_namespace.in?(%w(read about)) -%>
    <nav id="sidebar">
      <%= render partial: "shared/sidebar/#{page_namespace}" %>
    </nav>
    <%- end -%>

    <div id="content">
      <%- if title.any? %>
      <header class="page-header">
        <%- if @breadcrumb -%>
        <p><%= title.drop(1).reverse.join(" · ") %></p>
        <%- end -%>
        <h1><%= title.first %></h1>
      </header>
      <% end %>
      
      <%= yield %>
    </div>

  </div></main>

  <%= render partial: "shared/layout/footer" %>
  <%= render partial: "shared/layout/foot" %>
</body>
</html>