<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <%= render partial: "shared/layout/head" %>
</head>
<body lang="en" class="preload bg-white">

  <header class="site-header"><div class="l-col-single">
    <h1><a href="<%= root_path %>">The Manual</a></h1>
  </div></header>

  <%= yield %>

  <%= render partial: "shared/layout/foot" %>
  <%= javascript_include_tag :payments %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_tag("Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');") %>
</body>
</html>