<!DOCTYPE html>
<html class="no-js">
<head>
  <%= render partial: "shared/layout/head" %>
</head>
<body lang="en">

  <%= render partial: "shared/layout/header", locals: { options: { title: false } } %>

  <main id="content" class="<%= yield(:class_main) %>" role="main">
    <%= yield %>
  </main>

  <%= render partial: "shared/layout/footer" %>
  <%= render partial: "shared/layout/foot" %>
</body>
</html> 