<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <%= render partial: "shared/site_head" %>
  <%= stylesheet_link_tag :application, :debug => Rails.env.development? %>
</head>
<body lang="en" class="preload bg-white">

  <%= render partial: "shared/site_header", locals: { current: "shop" } %>

  <div id="content">
    <div class="l-wrapper-grid l-p-menu">
      <%= render partial: "shared/nav/store" %>
      <main>
        <%= yield %>
      </main>
    </div>
  </div>

  <%= render partial: "shared/site_footer" %>

  <%= javascript_include_tag :application, :debug => Rails.env.development? %>
  <%= yield :footer %>
</body>
</html>